<?xml version="1.0" encoding="utf-8"?>
<Content Key="dcf14fa0-dfc3-4108-8c9b-a4e9f77c0c29" Alias="Site 2" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Site2</Path>
    <Trashed>false</Trashed>
    <ContentType>site</ContentType>
    <CreateDate>2023-03-24T17:03:19</CreateDate>
    <NodeName Default="Site 2" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>