<?xml version="1.0" encoding="utf-8"?>
<DataType Key="67ce505c-dd2b-47d0-96f6-637ef7addff7" Alias="Decimal" Level="1">
  <Info>
    <Name>Decimal</Name>
    <EditorAlias>Umbraco.Decimal</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Decimal</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>