<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0b6a45e7-44ba-430d-9da5-4e46060b9e03" Alias="Dropdown" Level="1">
  <Info>
    <Name>Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Mark",
    "Andy",
    "Sofie"
  ],
  "multiple": false,
  "umbMigrationV14": "2024-06-11T15:54:19.4471316\u002B02:00"
}]]></Config>
</DataType>