<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6f3ed131-e834-47e0-9f19-dc6e311dd9d3" Alias="default" Level="2">
  <Info>
    <Name>Default</Name>
    <Icon>icon-article color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="033c3a21-a83a-4392-9726-bad97ada4f31">blockListEditor</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="6f3ed131-e834-47e0-9f19-dc6e311dd9d3" SortOrder="0">default</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>