<?xml version="1.0" encoding="utf-8"?>
<Content Key="5756eed9-c96d-42ee-96e9-bccc5d1dd655" Alias="Categories" Level="2">
  <Info>
    <Parent Key="dcf18a51-6919-4cf8-89d1-36b94ce4d963">Home</Parent>
    <Path>/Home/Categories</Path>
    <Trashed>false</Trashed>
    <ContentType>categoryList</ContentType>
    <CreateDate>2023-08-29T23:55:25</CreateDate>
    <NodeName Default="Categories" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <hideFromTopNavigation>
      <Value><![CDATA[1]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromXMLSitemap>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>