<?xml version="1.0" encoding="utf-8"?>
<Content Key="3700e21b-425b-47ec-90d9-2bf892401ae0" Alias="Conferences" Level="3">
  <Info>
    <Parent Key="5756eed9-c96d-42ee-96e9-bccc5d1dd655">Categories</Parent>
    <Path>/Home/Categories/Conferences</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2023-08-30T00:38:29</CreateDate>
    <NodeName Default="Conferences" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>