<?xml version="1.0" encoding="utf-8"?>
<Content Key="dcf18a51-6919-4cf8-89d1-36b94ce4d963" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2021-10-09T23:24:15</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contentRows>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "60085a63-b77b-4509-9df4-bcb75db2755f",
      "key": "bfc949ab-5489-4586-89f3-0c6c93f2d619",
      "udi": null,
      "values": [
        {
          "alias": "articleList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://document/31523089f64848839087ef9a0b83129f"
        },
        {
          "alias": "pageSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "3"
        },
        {
          "alias": "showPagination",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "c56fb5b8-0b89-4206-847e-a6fecd865b84",
      "key": "e378d8aa-9646-4bc4-ba92-3cc44fa3af5c",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "paddingTop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "paddingBottom",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "paddingLeft",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "paddingRight",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "marginTop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "marginBottom",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "marginLeft",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "marginRight",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "bfc949ab-5489-4586-89f3-0c6c93f2d619",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "bfc949ab-5489-4586-89f3-0c6c93f2d619",
        "contentUdi": null,
        "settingsKey": "e378d8aa-9646-4bc4-ba92-3cc44fa3af5c",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentRows>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "737d0fda-9582-4cd4-9ef4-48a9f5393594",
    "mediaKey": "5598b628-b390-4532-8bb5-dab06089e9d7"
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <socialIconLinks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "17db13ba-bbd9-4a44-b28f-986301156754",
      "key": "88b3cd1e-0bd7-47fd-9081-ab4832c84241",
      "udi": null,
      "values": [
        {
          "alias": "icon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "1181c745-d10f-407a-8247-08f30dfe7e5c",
              "mediaKey": "6921a6b4-3a02-4354-83bf-344074c4d00d",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "View this package repository on GitHub",
              "target": "_blank",
              "udi": null,
              "url": "https://github.com/prjseal",
              "queryString": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "17db13ba-bbd9-4a44-b28f-986301156754",
      "key": "ea8a8fee-444b-461b-8b07-de267ccbe9ef",
      "udi": null,
      "values": [
        {
          "alias": "icon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "5bdeb205-44e0-4aea-ba6e-ff153871a6b5",
              "mediaKey": "7639bb90-3ba4-4765-bec5-655bc3485c06",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "View this in the Umbraco Marketplace",
              "target": "_blank",
              "udi": null,
              "url": "https://marketplace.umbraco.com/package/clean",
              "queryString": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "17db13ba-bbd9-4a44-b28f-986301156754",
      "key": "8fc94595-272b-475a-b4f8-0b8da018f720",
      "udi": null,
      "values": [
        {
          "alias": "icon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "15c2a6a4-ec0f-4913-8478-0d8733757129",
              "mediaKey": "c08eb6e5-fbb7-4e57-b9b3-d35a9b088069",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Follow me on twitter",
              "target": "_blank",
              "udi": null,
              "url": "https://twitter.com/codesharepaul",
              "queryString": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "17db13ba-bbd9-4a44-b28f-986301156754",
      "key": "f5a40b08-daf1-412f-bc57-f768498be386",
      "udi": null,
      "values": [
        {
          "alias": "icon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "d549757b-95b1-4d20-89d8-51a30e6d5d6a",
              "mediaKey": "48bc7fab-611a-410d-a9eb-1cf82d811711",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Read my blog codeshare.co.uk",
              "target": "_blank",
              "udi": null,
              "url": "https://codeshare.co.uk",
              "queryString": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "17db13ba-bbd9-4a44-b28f-986301156754",
      "key": "4342c4bf-5050-4a32-8b3e-6dbc2156afc2",
      "udi": null,
      "values": [
        {
          "alias": "icon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "8b0ed1d2-4d52-4410-931d-0fde4aea9081",
              "mediaKey": "87163027-204d-44bd-a74c-c1363368d92f",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Join the Umbraco discord server",
              "target": "_blank",
              "udi": null,
              "url": "https://discord.gg/umbraco",
              "queryString": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "17db13ba-bbd9-4a44-b28f-986301156754",
      "key": "f0190005-f618-485f-a210-5d873e4c9227",
      "udi": null,
      "values": [
        {
          "alias": "icon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "34db3054-84f8-4a8a-8b47-e5bc188d3730",
              "mediaKey": "fbdf1674-1658-4449-8029-0b11bf7f20ab",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "You can buy me a coffee on PayPal if you would like to",
              "target": "_blank",
              "udi": null,
              "url": "https://codeshare.co.uk/coffee",
              "queryString": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "17db13ba-bbd9-4a44-b28f-986301156754",
      "key": "853ba3c4-9bf1-4997-a49e-d9ebca703142",
      "udi": null,
      "values": [
        {
          "alias": "icon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "197f6b38-0249-4142-8de7-c2b10c8edeae",
              "mediaKey": "d6e58148-8678-4bc4-8cdb-5366ae75065f",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Follow me on Mastodon",
              "target": "_blank",
              "udi": null,
              "url": "https://umbracocommunity.social/@CodeSharePaul",
              "queryString": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "84e89805-5a53-4dcf-930d-fd87c48572dd",
      "key": "c5fe35b5-194e-4ea2-bee5-f6baa0e0c5ad",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "84e89805-5a53-4dcf-930d-fd87c48572dd",
      "key": "ea13e2b8-f5d1-49e7-a0fa-7bfd82ac5a39",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "84e89805-5a53-4dcf-930d-fd87c48572dd",
      "key": "c96f976f-ae28-4027-a336-c5ea6b12b5f3",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "84e89805-5a53-4dcf-930d-fd87c48572dd",
      "key": "e966db03-d627-4d81-b2ca-81c98887156e",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "84e89805-5a53-4dcf-930d-fd87c48572dd",
      "key": "6e25c5da-fe50-45cb-95a7-95ef9672e426",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "84e89805-5a53-4dcf-930d-fd87c48572dd",
      "key": "67da7863-fdef-4849-9ae8-3d3edc20b7a0",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "84e89805-5a53-4dcf-930d-fd87c48572dd",
      "key": "88d58039-4d47-4865-b0bc-14791b6e0881",
      "udi": null,
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "88b3cd1e-0bd7-47fd-9081-ab4832c84241",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "ea8a8fee-444b-461b-8b07-de267ccbe9ef",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "8fc94595-272b-475a-b4f8-0b8da018f720",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f5a40b08-daf1-412f-bc57-f768498be386",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "4342c4bf-5050-4a32-8b3e-6dbc2156afc2",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f0190005-f618-485f-a210-5d873e4c9227",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "853ba3c4-9bf1-4997-a49e-d9ebca703142",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "88b3cd1e-0bd7-47fd-9081-ab4832c84241",
        "contentUdi": null,
        "settingsKey": "c5fe35b5-194e-4ea2-bee5-f6baa0e0c5ad",
        "settingsUdi": null
      },
      {
        "contentKey": "ea8a8fee-444b-461b-8b07-de267ccbe9ef",
        "contentUdi": null,
        "settingsKey": "ea13e2b8-f5d1-49e7-a0fa-7bfd82ac5a39",
        "settingsUdi": null
      },
      {
        "contentKey": "8fc94595-272b-475a-b4f8-0b8da018f720",
        "contentUdi": null,
        "settingsKey": "c96f976f-ae28-4027-a336-c5ea6b12b5f3",
        "settingsUdi": null
      },
      {
        "contentKey": "f5a40b08-daf1-412f-bc57-f768498be386",
        "contentUdi": null,
        "settingsKey": "e966db03-d627-4d81-b2ca-81c98887156e",
        "settingsUdi": null
      },
      {
        "contentKey": "4342c4bf-5050-4a32-8b3e-6dbc2156afc2",
        "contentUdi": null,
        "settingsKey": "6e25c5da-fe50-45cb-95a7-95ef9672e426",
        "settingsUdi": null
      },
      {
        "contentKey": "f0190005-f618-485f-a210-5d873e4c9227",
        "contentUdi": null,
        "settingsKey": "67da7863-fdef-4849-9ae8-3d3edc20b7a0",
        "settingsUdi": null
      },
      {
        "contentKey": "853ba3c4-9bf1-4997-a49e-d9ebca703142",
        "contentUdi": null,
        "settingsKey": "88d58039-4d47-4865-b0bc-14791b6e0881",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </socialIconLinks>
    <subtitle>
      <Value><![CDATA[For Umbraco]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Clean Starter Kit]]></Value>
    </title>
  </Properties>
</Content>