<?xml version="1.0" encoding="utf-8"?>
<Content Key="e80ead52-b504-4c58-af3b-771083be8806" Alias="Join the Umbraco Community on Mastodon" Level="3">
  <Info>
    <Parent Key="31523089-f648-4883-9087-ef9a0b83129f">Blog</Parent>
    <Path>/Home/Blog/JoinTheUmbracoCommunityOnMastodon</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2023-12-14T14:48:32</CreateDate>
    <NodeName Default="Join the Umbraco Community on Mastodon" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2023-10-03T12:00:00]]></Value>
    </articleDate>
    <author>
      <Value><![CDATA[umb://document/bd6a503ac2f247159e97fd2530c3e5b3]]></Value>
    </author>
    <categories>
      <Value><![CDATA[umb://document/13ea3528c98a4b0fbb84e036408a092a,umb://document/6edf2d3b142a401a98ed8bf5fbff76dd]]></Value>
    </categories>
    <contentRows>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "key": "791d32d8-9b01-4785-80c7-052234aadcda",
      "udi": null,
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003ERecently it has been talked about that the Umbraco Community seems to have been spread out across different social media platforms since the takeover of Twitter. So the sense of community has been watered down.\u003C/p\u003E\n\u003Cp\u003EIn an effort to boost that community spirit and to gather in one place in a platform \u0022similar\u0022 to twitter, there has been a push to join the Umbraco Mastodon server.\u003C/p\u003E\n\u003Cp\u003EIt\u0027s great to see lots of Umbraco related posts in your feed without ads or \u0022recommended\u0022 posts.\u003C/p\u003E\n\u003Cp\u003EJoe Glombek from Bump Digital wrote an\u00A0\u003Ca rel=\u0022noopener\u0022 href=\u0022https://joe.gl/ombek/blog/umbraco-in-the-fediverse/\u0022 target=\u0022_blank\u0022\u003Eexcellent blog post\u003C/a\u003E\u00A0all about what Mastodon is and how to join the Umbraco Mastodon server.\u003C/p\u003E\n\u003Cp\u003ESo have a read of that post to find out more.\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "key": "4f7ff1a9-02f7-4dfa-8d45-2e5ce1b4b628",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "paddingTop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "paddingBottom",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "paddingLeft",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "paddingRight",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "marginTop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "marginBottom",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "marginLeft",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "marginRight",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "791d32d8-9b01-4785-80c7-052234aadcda",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "791d32d8-9b01-4785-80c7-052234aadcda",
        "contentUdi": null,
        "settingsKey": "4f7ff1a9-02f7-4dfa-8d45-2e5ce1b4b628",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentRows>
    <hideFromTopNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "f9583438-1cd3-4e6d-8aee-365aaeedbe1e",
    "mediaKey": "77df90cf-87ec-4ee3-855c-c641b6975b45"
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>