<?xml version="1.0" encoding="utf-8"?>
<Content Key="bd6a503a-c2f2-4715-9e97-fd2530c3e5b3" Alias="Paul Seal" Level="3">
  <Info>
    <Parent Key="8b97891b-bb88-4c50-827d-a458c3c2b7bb">Authors</Parent>
    <Path>/Home/Authors/PaulSeal</Path>
    <Trashed>false</Trashed>
    <ContentType>author</ContentType>
    <CreateDate>2023-08-15T23:21:15</CreateDate>
    <NodeName Default="Paul Seal" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contentRows>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "key": "d0092fe4-ba86-42c2-b395-586990c21873",
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cp\u003EPaul Seal is an Umbraco Tech Lead and multiple times Umbraco MVP who works for the Umbraco Gold Partners \u003Ca rel=\u0022noopener\u0022 href=\u0022https://www.clerkswell.com\u0022 target=\u0022_blank\u0022 title=\u0022ClerksWell\u0022\u003EClerksWell\u003C/a\u003E.\u003C/p\u003E\n\u003Cp\u003EWhen he\u0027s not creating packages such as the Clean Starter Kit, which you are looking at right now, Paul likes to contribute to Open Source by submitting pull requests to different projects such as the Umbraco Source code, uSync Migrations and Contentment.\u003C/p\u003E\n\u003Cp\u003EPaul likes to write articles with code snippets to help people out when they are struggling to achieve something, usually for Umbraco.\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "key": "7cdd3e43-16c8-4a9f-8e51-57bc9c8d8a05",
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "paddingTop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "paddingBottom",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "paddingLeft",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "paddingRight",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "marginTop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "5"
          ]
        },
        {
          "alias": "marginBottom",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "marginLeft",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "marginRight",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "d0092fe4-ba86-42c2-b395-586990c21873",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "d0092fe4-ba86-42c2-b395-586990c21873",
        "contentUdi": null,
        "settingsKey": "7cdd3e43-16c8-4a9f-8e51-57bc9c8d8a05",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentRows>
    <hideFromTopNavigation>
      <Value><![CDATA[]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "11a58533-3688-4826-846b-b39a8ec81655",
    "mediaKey": "cd0caf81-f450-451c-a24c-7e0f9924536c"
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[Paul Seal is an Umbraco Tech Lead and multiple times Umbraco MVP who works for the Umbraco Gold Partners ClerksWell.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>