<?xml version="1.0" encoding="utf-8"?>
<Content Key="d7556247-610e-459f-a999-06cfb3176cf8" Alias="Podcasts and Videos" Level="3">
  <Info>
    <Parent Key="31523089-f648-4883-9087-ef9a0b83129f">Blog</Parent>
    <Path>/Home/Blog/PodcastsAndVideos</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2023-07-30T07:31:23</CreateDate>
    <NodeName Default="Podcasts and Videos" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2023-08-04T08:00:00]]></Value>
    </articleDate>
    <author>
      <Value><![CDATA[umb://document/bd6a503ac2f247159e97fd2530c3e5b3]]></Value>
    </author>
    <categories>
      <Value><![CDATA[umb://document/942a1a23a5e84703b99f90afcdcea6e4,umb://document/107861f887054e43a6a417277a37f99c]]></Value>
    </categories>
    <contentRows>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "key": "f15463aa-b3f0-4a8d-ba88-7ff7d0db70f2",
      "udi": null,
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EA great way to stay in touch with what is happening in the Umbraco community is by listening to podcasts and watching umbraCoffee.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "f43c8349-0801-44b8-9113-9f7c62cd44fe",
      "key": "c12b4913-352d-4371-b984-c69d777b9527",
      "udi": null,
      "values": [
        {
          "alias": "videoUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.youtube.com/watch?v=8X_Hzm29tV8"
        },
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "An episode of umbraCoffee from July 2023"
        }
      ]
    },
    {
      "contentTypeKey": "e0df4794-063a-4450-8f4f-c615a5d902e2",
      "key": "29e835ad-92cc-4b32-b246-94f9bb0cb5b6",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "369ed25b-f0d5-4915-96cb-858df2521c38",
              "mediaKey": "7d96bc75-fea8-4f66-aaf5-50f45748cab4",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Candid Contributions Podcast"
        }
      ]
    },
    {
      "contentTypeKey": "e0df4794-063a-4450-8f4f-c615a5d902e2",
      "key": "856dee04-81a9-42b1-8eed-e133fa816d44",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "23930894-c1b4-4ae2-9801-95505acd1054",
              "mediaKey": "c334997e-f9a7-498b-83af-f4888a97d5bc",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Package Manifest Podcast"
        }
      ]
    },
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "key": "8353fb5a-92ad-486a-9d40-fb3aa0e22b2d",
      "udi": null,
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch2\u003E\u003Ca rel=\u0022noopener\u0022 href=\u0022https://www.youtube.com/c/umbraCoffee/\u0022 target=\u0022_blank\u0022\u003EumbraCoffee\u003C/a\u003E\u003C/h2\u003E\n\u003Cp\u003EumbraCoffee is a weekly YouTube show where each Friday at 11:30am UK / 12:30pm CET, the hosts - Marcin and Callum - together with their guests drive you through the weekly news and all things Umbraco related. So grab a cuppa, join them LIVE and enjoy!\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "key": "60ef3378-da7c-4ba0-9a70-436dfeabdbb5",
      "udi": null,
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch2\u003E\u003Ca rel=\u0022noopener\u0022 href=\u0022https://candidcontributions.com/\u0022 target=\u0022_blank\u0022\u003ECandid Contributions\u003C/a\u003E\u003C/h2\u003E\n\u003Cp\u003ECandid Contributions is the home of the aptly named podcast where four experienced developers: Carole Logan, Emma Burstow, Laura Weatherhead and Lotte Pitcher talk all things open source - from code contributions to conference attendance; they aim to cover all aspects of life as an active member of an open-source community.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "key": "4639f709-abb6-460e-b892-d7676d93a194",
      "udi": null,
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch2\u003E\u003Ca rel=\u0022noopener\u0022 href=\u0022https://packagemanifest.fm/\u0022 target=\u0022_blank\u0022\u003EPackage Manifest\u003C/a\u003E\u003C/h2\u003E\n\u003Cp\u003EPackage Manifest is a podcast all about Umbraco packages and the people who create them. It is hosted by Matt Brailsford, Kevin Jump and Lee Kelleher.\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "key": "afd72029-1948-41fc-883a-6b40832c6a6a",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "eef34ceb-ddf6-4894-b1ac-f96c8c05d3d2",
      "key": "35bbb6a6-04b3-4e44-8c67-a4047e356f38",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "fed88ec5-c150-42af-b444-1f9ac5a100ba",
      "key": "5e063ac7-363e-466c-ad46-5236f484902f",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "paddingTop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "paddingBottom",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "paddingLeft",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "5"
          ]
        },
        {
          "alias": "paddingRight",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "5"
          ]
        },
        {
          "alias": "marginTop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "marginBottom",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "marginLeft",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "5"
          ]
        },
        {
          "alias": "marginRight",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "5"
          ]
        }
      ]
    },
    {
      "contentTypeKey": "fed88ec5-c150-42af-b444-1f9ac5a100ba",
      "key": "f4fbbedb-f310-405f-9e7e-94f90ae55f0a",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "paddingTop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "paddingBottom",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "paddingLeft",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "5"
          ]
        },
        {
          "alias": "paddingRight",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "5"
          ]
        },
        {
          "alias": "marginTop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "marginBottom",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "marginLeft",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "5"
          ]
        },
        {
          "alias": "marginRight",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "5"
          ]
        }
      ]
    },
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "key": "847d7bd4-904e-4034-b8c0-797ff13cad71",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "key": "e2c6c27f-99c8-46d5-ac18-a57dd5b47676",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "key": "acb14824-23be-413a-be97-f758e910cc5f",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "f15463aa-b3f0-4a8d-ba88-7ff7d0db70f2",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "c12b4913-352d-4371-b984-c69d777b9527",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "29e835ad-92cc-4b32-b246-94f9bb0cb5b6",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "856dee04-81a9-42b1-8eed-e133fa816d44",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "8353fb5a-92ad-486a-9d40-fb3aa0e22b2d",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "60ef3378-da7c-4ba0-9a70-436dfeabdbb5",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "4639f709-abb6-460e-b892-d7676d93a194",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "f15463aa-b3f0-4a8d-ba88-7ff7d0db70f2",
        "contentUdi": null,
        "settingsKey": "afd72029-1948-41fc-883a-6b40832c6a6a",
        "settingsUdi": null
      },
      {
        "contentKey": "8353fb5a-92ad-486a-9d40-fb3aa0e22b2d",
        "contentUdi": null,
        "settingsKey": "847d7bd4-904e-4034-b8c0-797ff13cad71",
        "settingsUdi": null
      },
      {
        "contentKey": "c12b4913-352d-4371-b984-c69d777b9527",
        "contentUdi": null,
        "settingsKey": "35bbb6a6-04b3-4e44-8c67-a4047e356f38",
        "settingsUdi": null
      },
      {
        "contentKey": "60ef3378-da7c-4ba0-9a70-436dfeabdbb5",
        "contentUdi": null,
        "settingsKey": "e2c6c27f-99c8-46d5-ac18-a57dd5b47676",
        "settingsUdi": null
      },
      {
        "contentKey": "29e835ad-92cc-4b32-b246-94f9bb0cb5b6",
        "contentUdi": null,
        "settingsKey": "5e063ac7-363e-466c-ad46-5236f484902f",
        "settingsUdi": null
      },
      {
        "contentKey": "4639f709-abb6-460e-b892-d7676d93a194",
        "contentUdi": null,
        "settingsKey": "acb14824-23be-413a-be97-f758e910cc5f",
        "settingsUdi": null
      },
      {
        "contentKey": "856dee04-81a9-42b1-8eed-e133fa816d44",
        "contentUdi": null,
        "settingsKey": "f4fbbedb-f310-405f-9e7e-94f90ae55f0a",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentRows>
    <hideFromTopNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "c366b171-f9d9-45c2-ab59-761c7e79e0c2",
    "mediaKey": "4ab93d9b-71c8-4608-a736-ff3e3878f529"
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <subtitle>
      <Value><![CDATA[From the Umbraco Community]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Podcasts and Videos]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>