<?xml version="1.0" encoding="utf-8"?>
<Content Key="566e938d-4c9b-4f9e-b230-247203233452" Alias="Resources" Level="3">
  <Info>
    <Parent Key="5756eed9-c96d-42ee-96e9-bccc5d1dd655">Categories</Parent>
    <Path>/Home/Categories/Resources</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2023-08-30T00:39:17</CreateDate>
    <NodeName Default="Resources" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>