<?xml version="1.0" encoding="utf-8"?>
<Content Key="6edf2d3b-142a-401a-98ed-8bf5fbff76dd" Alias="Umbraco" Level="3">
  <Info>
    <Parent Key="5756eed9-c96d-42ee-96e9-bccc5d1dd655">Categories</Parent>
    <Path>/Home/Categories/Umbraco</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2023-08-29T23:55:44</CreateDate>
    <NodeName Default="Umbraco" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>