<?xml version="1.0" encoding="utf-8"?>
<Media Key="d6355171-2e04-4b73-b11b-01f408ec242a" Alias="Media custom" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MediaCustom</Path>
    <Trashed>false</Trashed>
    <ContentType>customMediaType</ContentType>
    <CreateDate>2023-04-17T20:30:49</CreateDate>
    <NodeName Default="Media custom" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <approvedColorEditor>
      <Value><![CDATA[{
  "value": "000000",
  "label": "000000",
  "sortOrder": 0,
  "id": "1"
}]]></Value>
    </approvedColorEditor>
    <article>
      <Value><![CDATA[]]></Value>
    </article>
    <audio>
      <Value><![CDATA[]]></Value>
    </audio>
    <blockList>
      <Value><![CDATA[]]></Value>
    </blockList>
    <checkboxList>
      <Value><![CDATA[[
  "2"
]]]></Value>
    </checkboxList>
    <contentPicker>
      <Value><![CDATA[umb://document/eadd5be4456c4a7d8c4a2f7ead9c8ecf]]></Value>
    </contentPicker>
    <datePicker>
      <Value><![CDATA[2023-04-13T00:00:00]]></Value>
    </datePicker>
    <datePickerWithTime>
      <Value><![CDATA[2023-04-25T12:00:00]]></Value>
    </datePickerWithTime>
    <decimal>
      <Value><![CDATA[123.12]]></Value>
    </decimal>
    <dropDown>
      <Value><![CDATA[[
  "Mark"
]]]></Value>
    </dropDown>
    <dropdownMultiple>
      <Value><![CDATA[]]></Value>
    </dropdownMultiple>
    <emailAddress>
      <Value><![CDATA[mail@mail.com]]></Value>
    </emailAddress>
    <eyeDropperColorPicker>
      <Value><![CDATA[#a94444]]></Value>
    </eyeDropperColorPicker>
    <file>
      <Value><![CDATA[]]></Value>
    </file>
    <imageCropper>
      <Value><![CDATA[]]></Value>
    </imageCropper>
    <imageMediaPicker>
      <Value><![CDATA[[
  {
    "key": "3e42e0de-298f-4a99-b99a-8e6c0ae982f7",
    "mediaKey": "25ba1577-a0c5-4329-8f32-9e9abe4a6d2d"
  }
]]]></Value>
    </imageMediaPicker>
    <markdownEditor>
      <Value><![CDATA[fsdf`fsdfs

> Blockquote

`]]></Value>
    </markdownEditor>
    <memberGroupPicker>
      <Value><![CDATA[]]></Value>
    </memberGroupPicker>
    <memberPicker>
      <Value><![CDATA[]]></Value>
    </memberPicker>
    <multinodeTreepicker>
      <Value><![CDATA[umb://document/dcf14fa0dfc341088c9ba4e9f77c0c29,umb://document/cb9726b823074a019b397c2850c4d19a,umb://document/eadd5be4456c4a7d8c4a2f7ead9c8ecf]]></Value>
    </multinodeTreepicker>
    <multiUrlPicker>
      <Value><![CDATA[[
  {
    "name": "Site 2",
    "udi": "umb://document/dcf14fa0dfc341088c9ba4e9f77c0c29"
  },
  {
    "name": "Site with unpublished pages",
    "udi": "umb://document/805a5fe7d8ff472d9dd4b73e48a6d15b"
  }
]]]></Value>
    </multiUrlPicker>
    <numeric>
      <Value><![CDATA[12452]]></Value>
    </numeric>
    <radiobox>
      <Value><![CDATA[2]]></Value>
    </radiobox>
    <repeatableTextStrings>
      <Value><![CDATA[fsd
fsd]]></Value>
    </repeatableTextStrings>
    <richText>
      <Value><![CDATA[<p style="text-align: center;">fsdf<strong>fsdfgsd<em>gsdgs</em></strong><em>gdfgd</em></p>]]></Value>
    </richText>
    <slider>
      <Value><![CDATA[1]]></Value>
    </slider>
    <sVG>
      <Value><![CDATA[]]></Value>
    </sVG>
    <tags>
      <Value><![CDATA[[
  "tag1",
  "normal",
  "what"
]]]></Value>
    </tags>
    <textarea>
      <Value><![CDATA[dasgadg]]></Value>
    </textarea>
    <textstring>
      <Value><![CDATA[fasfa]]></Value>
    </textstring>
    <toggle>
      <Value><![CDATA[0]]></Value>
    </toggle>
    <userPicker>
      <Value><![CDATA[-1]]></Value>
    </userPicker>
    <video>
      <Value><![CDATA[]]></Value>
    </video>
  </Properties>
</Media>