<?xml version="1.0" encoding="utf-8"?>
<Media Key="f297f8da-2938-4e5c-a08b-3a7c83c5cf5d" Alias="Skærmbillede 2023 04 17 Kl. 20.16.18 (1)" Level="2">
  <Info>
    <Parent Key="01164aab-e1f7-4628-9e20-870b49951482">My media</Parent>
    <Path>/MyMedia/Skaermbillede20230417Kl2016181</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-17T20:16:31</CreateDate>
    <NodeName Default="Skærmbillede 2023 04 17 Kl. 20.16.18 (1)" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1t2jp2ry/skaermbillede-2023-04-17-kl-201618.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>