<?xml version="1.0" encoding="utf-8"?>
<Media Key="b6113530-0ccf-4006-88d4-3dcd31c8297e" Alias="Skærmbillede 2023 04 17 Kl. 20.16.18" Level="2">
  <Info>
    <Parent Key="01164aab-e1f7-4628-9e20-870b49951482">My media</Parent>
    <Path>/MyMedia/Skaermbillede20230417Kl201618</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-17T20:16:23</CreateDate>
    <NodeName Default="Skærmbillede 2023 04 17 Kl. 20.16.18" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/gy0bdnwp/skaermbillede-2023-04-17-kl-201618.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>