<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bd37253b-2f05-40e0-8d38-6041c9456230" Alias="[MNTP] Authors" Level="1">
  <Info>
    <Name>[MNTP] Authors</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "eb9fd2d1-5258-4bf8-beab-a2415b2e365a",
  "ignoreUserStartNodes": false,
  "maxNumber": 1,
  "minNumber": 0,
  "showOpenButton": false,
  "startNode": {
    "type": "content",
    "id": null,
    "dynamicRoot": {
      "originAlias": "ByKey",
      "originKey": "dcf18a51-6919-4cf8-89d1-36b94ce4d963",
      "querySteps": [
        {
          "alias": "NearestDescendantOrSelf",
          "anyOfDocTypeKeys": [
            "b0287f57-fb53-4b80-9d0b-eb7c8b277a5a"
          ]
        }
      ]
    }
  },
  "umbMigrationV14": "2024-11-20T18:25:49.7715752\u002B00:00"
}]]></Config>
</DataType>