<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9a426393-b2c8-4403-a85f-00b7a51ebe69" Alias="[MNTP] Categories" Level="1">
  <Info>
    <Name>[MNTP] Categories</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "e33a8f18-ae71-4a7d-bc2c-76ceb9fd9e97",
  "ignoreUserStartNodes": false,
  "maxNumber": 0,
  "minNumber": 0,
  "showOpenButton": false,
  "startNode": {
    "type": "content",
    "id": null,
    "dynamicRoot": {
      "originAlias": "ByKey",
      "originKey": "dcf18a51-6919-4cf8-89d1-36b94ce4d963",
      "querySteps": [
        {
          "alias": "NearestDescendantOrSelf",
          "anyOfDocTypeKeys": [
            "539869ea-4f0d-4c3b-80b1-aaa80a1c16e6"
          ]
        }
      ]
    }
  },
  "umbMigrationV14": "2024-11-20T18:25:49.7736949\u002B00:00"
}]]></Config>
</DataType>