<?xml version="1.0" encoding="utf-8"?>
<Media Key="40e37a26-8570-47dd-b30a-a1bd391f603b" Alias="Skærmbillede 2023 04 17 Kl. 20.15.40" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Skaermbillede20230417Kl201540</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-17T20:15:42</CreateDate>
    <NodeName Default="Skærmbillede 2023 04 17 Kl. 20.15.40" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/eb3ogqdq/skaermbillede-2023-04-17-kl-201540.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>