<?xml version="1.0" encoding="utf-8"?>
<Content Key="24099846-1261-4ee7-b2cf-223424767bdb" Alias="Block list page" Level="3">
  <Info>
    <Parent Key="08f23909-4751-47e9-b2e8-88ca07598947">Collection of pages</Parent>
    <Path>/Site1/CollectionOfPages/BlockListPage</Path>
    <Trashed>false</Trashed>
    <ContentType>default</ContentType>
    <CreateDate>2023-03-24T17:19:56</CreateDate>
    <NodeName Default="Block list page" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <article>
      <Value><![CDATA[]]></Value>
    </article>
    <audio>
      <Value><![CDATA[]]></Value>
    </audio>
    <blockGrid>
      <Value><![CDATA[]]></Value>
    </blockGrid>
    <blockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c258f48ab50f4430996a935f86b1a2ac"
      },
      {
        "contentUdi": "umb://element/d74c9ae337974f63913ccae8ec3ea1fa"
      },
      {
        "contentUdi": "umb://element/69c9c21adaf74f5bb0d220ea34522c71"
      },
      {
        "contentUdi": "umb://element/b424ad7e0d8e4ecd9c98018ee25f161b"
      },
      {
        "contentUdi": "umb://element/969cb1bd19ae4757a1f23ab8506a491c"
      },
      {
        "contentUdi": "umb://element/f2b781d01b3e40698fdee6841155a7b6"
      },
      {
        "contentUdi": "umb://element/6a6177c2f8614ec59a9e436c6b4bb28d"
      },
      {
        "contentUdi": "umb://element/3c008898e83d4145a97ec58d47903a49"
      },
      {
        "contentUdi": "umb://element/42aef0dcef624396be16d3a7af773b93"
      },
      {
        "contentUdi": "umb://element/1d225508ea9f491781465be4fb30062b"
      },
      {
        "contentUdi": "umb://element/e1031fc4d6154b1db5777fab975e2d26"
      },
      {
        "contentUdi": "umb://element/9866abbb9db44b279f861ac05a6049da"
      },
      {
        "contentUdi": "umb://element/788ebc0e07644906a5376f541131a75b"
      },
      {
        "contentUdi": "umb://element/1359117d23e04089b28221f394fc3b97"
      },
      {
        "contentUdi": "umb://element/1956d992b88d43f193bc126f915beda0"
      },
      {
        "contentUdi": "umb://element/ceb31456f60245f9b0de0ade0a18ba0e"
      },
      {
        "contentUdi": "umb://element/1972de0dd4be4a3d9dc0eba381c6379b"
      },
      {
        "contentUdi": "umb://element/7102ec11cd3749f39fa81cd8918d282a"
      },
      {
        "contentUdi": "umb://element/34b543e62aef404f9fd9049be6e57ca6"
      },
      {
        "contentUdi": "umb://element/8aed81c006cb4007bd69736fc246043d"
      },
      {
        "contentUdi": "umb://element/456a487990cf4716aee0eacad91aa43d"
      },
      {
        "contentUdi": "umb://element/6ccbec9b8bd8431eb5bb3692518eec25"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "15d42001-fcfb-4981-b634-4919b8d085a6",
      "udi": "umb://element/c258f48ab50f4430996a935f86b1a2ac",
      "checkboxList": [
        "2"
      ]
    },
    {
      "contentTypeKey": "cf161551-8ca7-4aab-bbdc-8a3718af7f44",
      "udi": "umb://element/d74c9ae337974f63913ccae8ec3ea1fa",
      "colorPicker": {
        "value": "000000",
        "label": "000000",
        "sortOrder": 0,
        "id": "1"
      }
    },
    {
      "contentTypeKey": "488f41d1-f482-4b62-a59d-50ce45b47e60",
      "udi": "umb://element/69c9c21adaf74f5bb0d220ea34522c71",
      "contentPicker": "umb://document/08f23909475147e9b2e888ca07598947"
    },
    {
      "contentTypeKey": "568408d3-b681-4f43-8f3a-32371eaa9a37",
      "udi": "umb://element/b424ad7e0d8e4ecd9c98018ee25f161b",
      "datePicker": "2023-03-09T00:00:00",
      "datePickerWithTime": "2023-03-21T21:00:00"
    },
    {
      "contentTypeKey": "85a55d92-c438-46c5-bc1c-ddffd41344d9",
      "udi": "umb://element/969cb1bd19ae4757a1f23ab8506a491c",
      "decimal": "2345.67"
    },
    {
      "contentTypeKey": "6c5cceb5-f30d-405c-a4a8-c82f685b533e",
      "udi": "umb://element/f2b781d01b3e40698fdee6841155a7b6",
      "dropdown": [
        "Andy"
      ]
    },
    {
      "contentTypeKey": "e4dac59e-9fc8-4cbd-af6a-5ad60c8a05e8",
      "udi": "umb://element/6a6177c2f8614ec59a9e436c6b4bb28d",
      "emailAddress": "block@list.com"
    },
    {
      "contentTypeKey": "69b5bdfb-594a-444d-8ff7-4859c8d5c0a1",
      "udi": "umb://element/3c008898e83d4145a97ec58d47903a49",
      "eyeDropperColorPicker": "#39ac74"
    },
    {
      "contentTypeKey": "ec028cdc-9b2d-4ad0-8ecc-96c8416b2a01",
      "udi": "umb://element/42aef0dcef624396be16d3a7af773b93",
      "markdown": "# Markdown\n\nLet's make some markdown here\n\n* Step 1\n* Step 2"
    },
    {
      "contentTypeKey": "aa819aad-7707-44b7-9cb2-75586b4eee20",
      "udi": "umb://element/1d225508ea9f491781465be4fb30062b",
      "multiUrlPicker": [
        {
          "name": "Page 1.3",
          "udi": "umb://document/8464062fd2da4dae99a1a740e258dc09"
        },
        {
          "name": "Page 1.1",
          "udi": "umb://document/a719aa8a2c2447569f4cd1f5a5b94075"
        },
        {
          "name": "Page 1.2",
          "udi": "umb://document/d12babab8b6349d58d1f140e4eb97e8b"
        }
      ]
    },
    {
      "contentTypeKey": "844d5a6b-1671-4cd0-b988-11247744b065",
      "udi": "umb://element/e1031fc4d6154b1db5777fab975e2d26",
      "multinodeTreepicker": "umb://document/3686dd5df6894e3bace6b6d4e8b06165,umb://document/f578f70d13f4444abaa7a1a3c1bc1666,umb://document/ca69a30fbf474acfb31b556c585d204b"
    },
    {
      "contentTypeKey": "52fd5cd9-b1f2-44fe-99a5-bbed1bdde61b",
      "udi": "umb://element/9866abbb9db44b279f861ac05a6049da",
      "numeric": "2348"
    },
    {
      "contentTypeKey": "4684e9d1-6f28-4039-a1b1-0d6f9cc28699",
      "udi": "umb://element/788ebc0e07644906a5376f541131a75b",
      "radiobox": "2"
    },
    {
      "contentTypeKey": "78c763f3-22b7-4cda-99eb-d9da0ac126eb",
      "udi": "umb://element/1359117d23e04089b28221f394fc3b97",
      "repeatableTextstrings": "string 1\r\nstring 2\r\nstring 3"
    },
    {
      "contentTypeKey": "e01e0885-15df-4630-8185-749061a4188b",
      "udi": "umb://element/1956d992b88d43f193bc126f915beda0",
      "richtext": "<p><strong>This is some rich text</strong> <em>Itallic stuff</em></p>\n<p style=\"text-align: center;\">center</p>\n<p style=\"text-align: right;\">right</p>\n<ul>\n<li style=\"text-align: left;\">dots</li>\n<li style=\"text-align: left;\">dots</li>\n</ul>"
    },
    {
      "contentTypeKey": "eac79c69-e6df-432e-b568-36e98f45da81",
      "udi": "umb://element/ceb31456f60245f9b0de0ade0a18ba0e",
      "slider": "5"
    },
    {
      "contentTypeKey": "78e17c12-aae2-49d0-a3d5-dddba78e4d19",
      "udi": "umb://element/1972de0dd4be4a3d9dc0eba381c6379b",
      "tags": [
        "tag1",
        "mytag",
        "what",
        "is",
        "blocks"
      ]
    },
    {
      "contentTypeKey": "63172105-9f75-4441-aa5b-a076504c40c0",
      "udi": "umb://element/7102ec11cd3749f39fa81cd8918d282a",
      "textarea": "Text area"
    },
    {
      "contentTypeKey": "0761d841-8c60-4565-986d-d292977397e3",
      "udi": "umb://element/34b543e62aef404f9fd9049be6e57ca6",
      "textstring": "Text box"
    },
    {
      "contentTypeKey": "5c048257-c6a3-40f6-8ae0-86c619ad1c99",
      "udi": "umb://element/8aed81c006cb4007bd69736fc246043d",
      "trueOrFalse": "1"
    },
    {
      "contentTypeKey": "90659363-d63a-4c20-90e4-72df5c6babab",
      "udi": "umb://element/456a487990cf4716aee0eacad91aa43d",
      "userPicker": "-1"
    },
    {
      "contentTypeKey": "033c3a21-a83a-4392-9726-bad97ada4f31",
      "udi": "umb://element/6ccbec9b8bd8431eb5bb3692518eec25",
      "blockList": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/05546a0c011f4d648ca5be5bcfe6f9f7"
            },
            {
              "contentUdi": "umb://element/50774dcca9c342ebbdbb8129405d9faa"
            },
            {
              "contentUdi": "umb://element/f12dac7383df46dc9ea14ef45abe8323"
            },
            {
              "contentUdi": "umb://element/4262e65f75ca4e07b3a24be3afe33ade"
            },
            {
              "contentUdi": "umb://element/603c62074ca0467e9bfe27a77d7fc84c"
            },
            {
              "contentUdi": "umb://element/c4baecdeb1784df9a4adaad11936a029"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "15d42001-fcfb-4981-b634-4919b8d085a6",
            "udi": "umb://element/05546a0c011f4d648ca5be5bcfe6f9f7",
            "checkboxList": [
              "3"
            ]
          },
          {
            "contentTypeKey": "cf161551-8ca7-4aab-bbdc-8a3718af7f44",
            "udi": "umb://element/50774dcca9c342ebbdbb8129405d9faa",
            "colorPicker": {
              "value": "bf9000",
              "label": "bf9000",
              "sortOrder": 2,
              "id": "3"
            }
          },
          {
            "contentTypeKey": "488f41d1-f482-4b62-a59d-50ce45b47e60",
            "udi": "umb://element/f12dac7383df46dc9ea14ef45abe8323",
            "contentPicker": "umb://document/eadd5be4456c4a7d8c4a2f7ead9c8ecf"
          },
          {
            "contentTypeKey": "568408d3-b681-4f43-8f3a-32371eaa9a37",
            "udi": "umb://element/4262e65f75ca4e07b3a24be3afe33ade",
            "datePicker": "2023-03-14T00:00:00",
            "datePickerWithTime": "2024-03-07T12:00:00"
          },
          {
            "contentTypeKey": "85a55d92-c438-46c5-bc1c-ddffd41344d9",
            "udi": "umb://element/603c62074ca0467e9bfe27a77d7fc84c",
            "decimal": "75894.4"
          },
          {
            "contentTypeKey": "033c3a21-a83a-4392-9726-bad97ada4f31",
            "udi": "umb://element/c4baecdeb1784df9a4adaad11936a029",
            "blockList": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/448db7c8c78145bebbf8f0e23c328277"
                  },
                  {
                    "contentUdi": "umb://element/3a79334f4fe6486081f1a7200dbc30f2"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "15d42001-fcfb-4981-b634-4919b8d085a6",
                  "udi": "umb://element/448db7c8c78145bebbf8f0e23c328277",
                  "checkboxList": [
                    "1"
                  ]
                },
                {
                  "contentTypeKey": "15d42001-fcfb-4981-b634-4919b8d085a6",
                  "udi": "umb://element/3a79334f4fe6486081f1a7200dbc30f2",
                  "checkboxList": [
                    "3"
                  ]
                }
              ],
              "settingsData": []
            }
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </blockList>
    <checkboxList>
      <Value><![CDATA[]]></Value>
    </checkboxList>
    <colorPicker>
      <Value><![CDATA[]]></Value>
    </colorPicker>
    <contentPicker>
      <Value><![CDATA[]]></Value>
    </contentPicker>
    <datePicker>
      <Value><![CDATA[]]></Value>
    </datePicker>
    <datePickerWithTime>
      <Value><![CDATA[]]></Value>
    </datePickerWithTime>
    <decimal>
      <Value><![CDATA[]]></Value>
    </decimal>
    <dropdown>
      <Value><![CDATA[]]></Value>
    </dropdown>
    <emailAddress>
      <Value><![CDATA[]]></Value>
    </emailAddress>
    <eyeDropperColorPicker>
      <Value><![CDATA[]]></Value>
    </eyeDropperColorPicker>
    <file>
      <Value><![CDATA[]]></Value>
    </file>
    <imageCropper>
      <Value><![CDATA[]]></Value>
    </imageCropper>
    <imageMediaPicker>
      <Value><![CDATA[[]]]></Value>
    </imageMediaPicker>
    <markdown>
      <Value><![CDATA[]]></Value>
    </markdown>
    <mediaPicker>
      <Value><![CDATA[[]]]></Value>
    </mediaPicker>
    <mediaPickerLegacy>
      <Value><![CDATA[]]></Value>
    </mediaPickerLegacy>
    <memberGroupPicker>
      <Value><![CDATA[]]></Value>
    </memberGroupPicker>
    <memberPicker>
      <Value><![CDATA[]]></Value>
    </memberPicker>
    <multinodeTreepicker>
      <Value><![CDATA[]]></Value>
    </multinodeTreepicker>
    <multipleImageMediaPicker>
      <Value><![CDATA[[]]]></Value>
    </multipleImageMediaPicker>
    <multipleMediaPicker>
      <Value><![CDATA[[]]]></Value>
    </multipleMediaPicker>
    <multipleMediaPickerLegacy>
      <Value><![CDATA[]]></Value>
    </multipleMediaPickerLegacy>
    <multiUrlPicker>
      <Value><![CDATA[]]></Value>
    </multiUrlPicker>
    <numeric>
      <Value><![CDATA[]]></Value>
    </numeric>
    <radiobox>
      <Value><![CDATA[]]></Value>
    </radiobox>
    <repeatableTextstrings>
      <Value><![CDATA[]]></Value>
    </repeatableTextstrings>
    <richtext>
      <Value><![CDATA[]]></Value>
    </richtext>
    <slider>
      <Value><![CDATA[0]]></Value>
    </slider>
    <svg>
      <Value><![CDATA[]]></Value>
    </svg>
    <tags>
      <Value><![CDATA[[
  "normal"
]]]></Value>
    </tags>
    <textarea>
      <Value><![CDATA[]]></Value>
    </textarea>
    <textstring>
      <Value><![CDATA[]]></Value>
    </textstring>
    <trueOrFalse>
      <Value><![CDATA[0]]></Value>
    </trueOrFalse>
    <userPicker>
      <Value><![CDATA[]]></Value>
    </userPicker>
    <video>
      <Value><![CDATA[]]></Value>
    </video>
  </Properties>
</Content>