<?xml version="1.0" encoding="utf-8"?>
<Content Key="a63da8f0-b8d5-42bc-9025-33ed66849c92" Alias="Child 3" Level="102">
  <Info>
    <Parent Key="2dd75df9-46ac-4496-bf7b-de6ca4c1c539">Collection of pages</Parent>
    <Path>/[-20]/CollectionOfPages/Child3</Path>
    <Trashed Parent="2dd75df9-46ac-4496-bf7b-de6ca4c1c539">true</Trashed>
    <ContentType>default</ContentType>
    <CreateDate>2022-06-04T16:44:22</CreateDate>
    <NodeName Default="Child 3" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <article>
      <Value><![CDATA[]]></Value>
    </article>
    <audio>
      <Value><![CDATA[]]></Value>
    </audio>
    <blockList>
      <Value><![CDATA[]]></Value>
    </blockList>
    <checkboxList>
      <Value><![CDATA[]]></Value>
    </checkboxList>
    <colorPicker>
      <Value><![CDATA[]]></Value>
    </colorPicker>
    <contentPicker>
      <Value><![CDATA[]]></Value>
    </contentPicker>
    <datePicker>
      <Value><![CDATA[]]></Value>
    </datePicker>
    <datePickerWithTime>
      <Value><![CDATA[]]></Value>
    </datePickerWithTime>
    <decimal>
      <Value><![CDATA[]]></Value>
    </decimal>
    <dropdown>
      <Value><![CDATA[]]></Value>
    </dropdown>
    <emailAddress>
      <Value><![CDATA[]]></Value>
    </emailAddress>
    <eyeDropperColorPicker>
      <Value><![CDATA[]]></Value>
    </eyeDropperColorPicker>
    <file>
      <Value><![CDATA[]]></Value>
    </file>
    <imageCropper>
      <Value><![CDATA[]]></Value>
    </imageCropper>
    <imageMediaPicker>
      <Value><![CDATA[]]></Value>
    </imageMediaPicker>
    <markdown>
      <Value><![CDATA[]]></Value>
    </markdown>
    <mediaPicker>
      <Value><![CDATA[]]></Value>
    </mediaPicker>
    <mediaPickerLegacy>
      <Value><![CDATA[]]></Value>
    </mediaPickerLegacy>
    <memberGroupPicker>
      <Value><![CDATA[]]></Value>
    </memberGroupPicker>
    <memberPicker>
      <Value><![CDATA[]]></Value>
    </memberPicker>
    <multinodeTreepicker>
      <Value><![CDATA[]]></Value>
    </multinodeTreepicker>
    <multipleImageMediaPicker>
      <Value><![CDATA[]]></Value>
    </multipleImageMediaPicker>
    <multipleMediaPicker>
      <Value><![CDATA[]]></Value>
    </multipleMediaPicker>
    <multipleMediaPickerLegacy>
      <Value><![CDATA[]]></Value>
    </multipleMediaPickerLegacy>
    <multiUrlPicker>
      <Value><![CDATA[]]></Value>
    </multiUrlPicker>
    <numeric>
      <Value><![CDATA[]]></Value>
    </numeric>
    <radiobox>
      <Value><![CDATA[]]></Value>
    </radiobox>
    <repeatableTextstrings>
      <Value><![CDATA[]]></Value>
    </repeatableTextstrings>
    <richtext>
      <Value><![CDATA[]]></Value>
    </richtext>
    <slider>
      <Value><![CDATA[]]></Value>
    </slider>
    <svg>
      <Value><![CDATA[]]></Value>
    </svg>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <textarea>
      <Value><![CDATA[]]></Value>
    </textarea>
    <textstring>
      <Value><![CDATA[]]></Value>
    </textstring>
    <trueOrFalse>
      <Value><![CDATA[]]></Value>
    </trueOrFalse>
    <userPicker>
      <Value><![CDATA[]]></Value>
    </userPicker>
    <video>
      <Value><![CDATA[]]></Value>
    </video>
  </Properties>
</Content>