<?xml version="1.0" encoding="utf-8"?>
<Content Key="118fde67-8217-4c26-9234-4054cc2b1396" Alias="FilledPage" Level="2">
  <Info>
    <Parent Key="d0351e46-e0bf-4eaa-ad2b-57a45451097e">Site with culture</Parent>
    <Path>/SiteWithCulture/FilledPage</Path>
    <Trashed>false</Trashed>
    <ContentType>defaultCulture</ContentType>
    <CreateDate>2023-05-16T14:36:29</CreateDate>
    <NodeName Default="FilledPage">
      <Name Culture="da">FilledPage (DA)</Name>
      <Name Culture="en-us">FilledPage</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="da">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <article>
      <Value><![CDATA[]]></Value>
    </article>
    <articleCulture>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </articleCulture>
    <audio>
      <Value><![CDATA[]]></Value>
    </audio>
    <audioCulture>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </audioCulture>
    <blockList>
      <Value><![CDATA[]]></Value>
    </blockList>
    <blockListCulture>
      <Value Culture="da"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/ae48b0d2ac8b4341a4abf2894549b5a5"
      },
      {
        "contentUdi": "umb://element/4b6331a075824feda4dfe353c1c1861a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "85a55d92-c438-46c5-bc1c-ddffd41344d9",
      "udi": "umb://element/ae48b0d2ac8b4341a4abf2894549b5a5",
      "decimal": "678"
    },
    {
      "contentTypeKey": "6c5cceb5-f30d-405c-a4a8-c82f685b533e",
      "udi": "umb://element/4b6331a075824feda4dfe353c1c1861a",
      "dropdown": [
        "Andy"
      ]
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/0b127b9e01da4e8197f6a4ceabd1615f"
      },
      {
        "contentUdi": "umb://element/3e70c29430ec4f46acc98e4b9f78b279"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "15d42001-fcfb-4981-b634-4919b8d085a6",
      "udi": "umb://element/0b127b9e01da4e8197f6a4ceabd1615f",
      "checkboxList": [
        "3"
      ]
    },
    {
      "contentTypeKey": "cf161551-8ca7-4aab-bbdc-8a3718af7f44",
      "udi": "umb://element/3e70c29430ec4f46acc98e4b9f78b279",
      "colorPicker": {
        "value": "f44336",
        "label": "f44336",
        "sortOrder": 1,
        "id": "2"
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </blockListCulture>
    <checkboxList>
      <Value><![CDATA[]]></Value>
    </checkboxList>
    <checkboxListCulture>
      <Value Culture="da"><![CDATA[[
  "1"
]]]></Value>
      <Value Culture="en-us"><![CDATA[[
  "2"
]]]></Value>
    </checkboxListCulture>
    <colorPicker>
      <Value><![CDATA[]]></Value>
    </colorPicker>
    <colorPickerCulture>
      <Value Culture="da"><![CDATA[{
  "value": "000000",
  "label": "000000",
  "sortOrder": 0,
  "id": "1"
}]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "value": "f44336",
  "label": "f44336",
  "sortOrder": 1,
  "id": "2"
}]]></Value>
    </colorPickerCulture>
    <contentPicker>
      <Value><![CDATA[]]></Value>
    </contentPicker>
    <contentPickerCulture>
      <Value Culture="da"><![CDATA[umb://document/d0351e46e0bf4eaaad2b57a45451097e]]></Value>
      <Value Culture="en-us"><![CDATA[umb://document/d0351e46e0bf4eaaad2b57a45451097e]]></Value>
    </contentPickerCulture>
    <datePicker>
      <Value><![CDATA[]]></Value>
    </datePicker>
    <datePickerCulture>
      <Value Culture="da"><![CDATA[2023-05-03T00:00:00]]></Value>
      <Value Culture="en-us"><![CDATA[2023-05-31T00:00:00]]></Value>
    </datePickerCulture>
    <datePickerWithTime>
      <Value><![CDATA[]]></Value>
    </datePickerWithTime>
    <datePickerWithTimeCulture>
      <Value Culture="da"><![CDATA[2023-05-20T12:00:00]]></Value>
      <Value Culture="en-us"><![CDATA[2023-05-10T12:00:00]]></Value>
    </datePickerWithTimeCulture>
    <decimal>
      <Value><![CDATA[]]></Value>
    </decimal>
    <decimalCulture>
      <Value Culture="da"><![CDATA[90887]]></Value>
      <Value Culture="en-us"><![CDATA[56]]></Value>
    </decimalCulture>
    <dropdown>
      <Value><![CDATA[]]></Value>
    </dropdown>
    <dropdownCulture>
      <Value Culture="da"><![CDATA[[
  "Mark"
]]]></Value>
      <Value Culture="en-us"><![CDATA[[
  "Andy"
]]]></Value>
    </dropdownCulture>
    <emailAddress>
      <Value><![CDATA[]]></Value>
    </emailAddress>
    <emailAddressCulture>
      <Value Culture="da"><![CDATA[mail@dkmail.dk]]></Value>
      <Value Culture="en-us"><![CDATA[mail@mail.com]]></Value>
    </emailAddressCulture>
    <eyeDropperColorPicker>
      <Value><![CDATA[]]></Value>
    </eyeDropperColorPicker>
    <eyeDropperColorPickerCulture>
      <Value Culture="da"><![CDATA[#007b75]]></Value>
      <Value Culture="en-us"><![CDATA[#624343]]></Value>
    </eyeDropperColorPickerCulture>
    <file>
      <Value><![CDATA[]]></Value>
    </file>
    <fileCulture>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </fileCulture>
    <imageCropper>
      <Value><![CDATA[]]></Value>
    </imageCropper>
    <imageCropperCulture>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </imageCropperCulture>
    <imageMediaPicker>
      <Value><![CDATA[[]]]></Value>
    </imageMediaPicker>
    <imageMediaPickerCulture>
      <Value Culture="da"><![CDATA[[
  {
    "key": "ca2c7347-4fa0-4d6e-a4b5-986ca99b6b3e",
    "mediaKey": "343c83c9-1782-4db5-8e13-cdcddf7ab772"
  }
]]]></Value>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "36827907-4697-402d-8185-cc6ffb8a1e5a",
    "mediaKey": "40e37a26-8570-47dd-b30a-a1bd391f603b"
  }
]]]></Value>
    </imageMediaPickerCulture>
    <markdown>
      <Value><![CDATA[]]></Value>
    </markdown>
    <markdownCulture>
      <Value Culture="da"><![CDATA[poiuytre]]></Value>
      <Value Culture="en-us"><![CDATA[fajfasofnjkas njkasdjbaskf]]></Value>
    </markdownCulture>
    <mediaPicker>
      <Value><![CDATA[[]]]></Value>
    </mediaPicker>
    <mediaPickerCulture>
      <Value Culture="da"><![CDATA[[
  {
    "key": "18a225cd-cee4-4b33-b7cb-bb6216a3b6aa",
    "mediaKey": "f297f8da-2938-4e5c-a08b-3a7c83c5cf5d"
  }
]]]></Value>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "4ecfaacb-d9b2-49cb-a2cd-1a1a59bba225",
    "mediaKey": "f297f8da-2938-4e5c-a08b-3a7c83c5cf5d"
  }
]]]></Value>
    </mediaPickerCulture>
    <mediaPickerLegacy>
      <Value><![CDATA[]]></Value>
    </mediaPickerLegacy>
    <mediaPickerLegacyCulture>
      <Value Culture="da"><![CDATA[umb://media/f297f8da29384e5ca08b3a7c83c5cf5d]]></Value>
      <Value Culture="en-us"><![CDATA[umb://media/25ba1577a0c543298f329e9abe4a6d2d]]></Value>
    </mediaPickerLegacyCulture>
    <memberGroupPicker>
      <Value><![CDATA[]]></Value>
    </memberGroupPicker>
    <memberGroupPickerCulture>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </memberGroupPickerCulture>
    <memberPicker>
      <Value><![CDATA[]]></Value>
    </memberPicker>
    <memberPickerCulture>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </memberPickerCulture>
    <multinodeTreepicker>
      <Value><![CDATA[]]></Value>
    </multinodeTreepicker>
    <multinodeTreepickerCulture>
      <Value Culture="da"><![CDATA[umb://document/3fa4a316249b487f8d9e007581f7b748,umb://document/82ec95bd6551421dacf3e7571cef4efe]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </multinodeTreepickerCulture>
    <multipleImageMediaPicker>
      <Value><![CDATA[[]]]></Value>
    </multipleImageMediaPicker>
    <multipleImageMediaPickerCulture>
      <Value Culture="da"><![CDATA[[
  {
    "key": "55d844dd-2a65-4ccc-a5c1-88aa473c0693",
    "mediaKey": "343c83c9-1782-4db5-8e13-cdcddf7ab772"
  }
]]]></Value>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "c277ca9e-d50d-453d-b19b-f84d31d195a3",
    "mediaKey": "25ba1577-a0c5-4329-8f32-9e9abe4a6d2d"
  },
  {
    "key": "df7a8932-6fe1-4f58-be7f-613a2895e320",
    "mediaKey": "40e37a26-8570-47dd-b30a-a1bd391f603b"
  }
]]]></Value>
    </multipleImageMediaPickerCulture>
    <multipleMediaPicker>
      <Value><![CDATA[[]]]></Value>
    </multipleMediaPicker>
    <multipleMediaPickerCulture>
      <Value Culture="da"><![CDATA[[]]]></Value>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "a6a0818f-7391-42dd-86ba-c3430e91475e",
    "mediaKey": "25ba1577-a0c5-4329-8f32-9e9abe4a6d2d"
  },
  {
    "key": "0b81a322-88fc-4e8b-9043-74f0905cb6e5",
    "mediaKey": "40e37a26-8570-47dd-b30a-a1bd391f603b"
  }
]]]></Value>
    </multipleMediaPickerCulture>
    <multipleMediaPickerLegacy>
      <Value><![CDATA[]]></Value>
    </multipleMediaPickerLegacy>
    <multipleMediaPickerLegacyCulture>
      <Value Culture="da"><![CDATA[umb://media/343c83c917824db58e13cdcddf7ab772]]></Value>
      <Value Culture="en-us"><![CDATA[umb://media/40e37a26857047ddb30aa1bd391f603b,umb://media/25ba1577a0c543298f329e9abe4a6d2d]]></Value>
    </multipleMediaPickerLegacyCulture>
    <multiUrlPicker>
      <Value><![CDATA[]]></Value>
    </multiUrlPicker>
    <multiUrlPickerCulture>
      <Value Culture="da"><![CDATA[[
  {
    "name": "Homepage",
    "udi": "umb://document/3fa4a316249b487f8d9e007581f7b748"
  }
]]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </multiUrlPickerCulture>
    <numeric>
      <Value><![CDATA[]]></Value>
    </numeric>
    <numericCulture>
      <Value Culture="da"><![CDATA[8765678]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </numericCulture>
    <radiobox>
      <Value><![CDATA[]]></Value>
    </radiobox>
    <radioboxCulture>
      <Value Culture="da"><![CDATA[3]]></Value>
      <Value Culture="en-us"><![CDATA[2]]></Value>
    </radioboxCulture>
    <repeatableTextstrings>
      <Value><![CDATA[]]></Value>
    </repeatableTextstrings>
    <repeatableTextstringsCulture>
      <Value Culture="da"><![CDATA[fafas
fds]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </repeatableTextstringsCulture>
    <richtext>
      <Value><![CDATA[]]></Value>
    </richtext>
    <richtextCulture>
      <Value Culture="da"><![CDATA[<p>iuoidasojfklajs</p>]]></Value>
      <Value Culture="en-us"><![CDATA[<p>fasjfakjsdk</p>]]></Value>
    </richtextCulture>
    <slider>
      <Value><![CDATA[0]]></Value>
    </slider>
    <sliderCulture>
      <Value Culture="da"><![CDATA[9]]></Value>
      <Value Culture="en-us"><![CDATA[1]]></Value>
    </sliderCulture>
    <svg>
      <Value><![CDATA[]]></Value>
    </svg>
    <svgCulture>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </svgCulture>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <tagsCulture>
      <Value Culture="da"><![CDATA[[
  "odd",
  "normal"
]]]></Value>
      <Value Culture="en-us"><![CDATA[[
  "normal"
]]]></Value>
    </tagsCulture>
    <textarea>
      <Value><![CDATA[]]></Value>
    </textarea>
    <textareaCulture>
      <Value Culture="da"><![CDATA[jfsajpofi9asudoiaskn]]></Value>
      <Value Culture="en-us"><![CDATA[asjkfklasl]]></Value>
    </textareaCulture>
    <textstring>
      <Value><![CDATA[]]></Value>
    </textstring>
    <textstringCulture>
      <Value Culture="da"><![CDATA[da]]></Value>
      <Value Culture="en-us"><![CDATA[en-us]]></Value>
    </textstringCulture>
    <trueOrFalse>
      <Value><![CDATA[0]]></Value>
    </trueOrFalse>
    <trueOrFalseCulture>
      <Value Culture="da"><![CDATA[1]]></Value>
      <Value Culture="en-us"><![CDATA[1]]></Value>
    </trueOrFalseCulture>
    <userPicker>
      <Value><![CDATA[]]></Value>
    </userPicker>
    <userPickerCulture>
      <Value Culture="da"><![CDATA[-1]]></Value>
      <Value Culture="en-us"><![CDATA[-1]]></Value>
    </userPickerCulture>
    <video>
      <Value><![CDATA[]]></Value>
    </video>
    <videoCulture>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </videoCulture>
  </Properties>
</Content>