<?xml version="1.0" encoding="utf-8"?>
<Content Key="ca69a30f-bf47-4acf-b31b-556c585d204b" Alias="Homepage" Level="2">
  <Info>
    <Parent Key="eadd5be4-456c-4a7d-8c4a-2f7ead9c8ecf">Site 1</Parent>
    <Path>/Site1/Homepage</Path>
    <Trashed>false</Trashed>
    <ContentType>default</ContentType>
    <CreateDate>2023-03-24T17:03:57</CreateDate>
    <NodeName Default="Homepage" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <article>
      <Value><![CDATA[]]></Value>
    </article>
    <audio>
      <Value><![CDATA[]]></Value>
    </audio>
    <blockGrid>
      <Value><![CDATA[]]></Value>
    </blockGrid>
    <blockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/ef8528ba1122426897fd413d6cc23f2c"
      },
      {
        "contentUdi": "umb://element/5657c1f547464beda580bb97124944fc"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "844d5a6b-1671-4cd0-b988-11247744b065",
      "udi": "umb://element/ef8528ba1122426897fd413d6cc23f2c",
      "multinodeTreepicker": "umb://document/af060c574e6a43ff9a2539bf4389261c"
    },
    {
      "contentTypeKey": "aa819aad-7707-44b7-9cb2-75586b4eee20",
      "udi": "umb://element/5657c1f547464beda580bb97124944fc",
      "multiUrlPicker": [
        {
          "name": "UnPublishedPage",
          "udi": "umb://document/af060c574e6a43ff9a2539bf4389261c"
        },
        {
          "name": "UnpublishedSite",
          "udi": "umb://document/f894ebb373534439b84c04ed7d283202"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </blockList>
    <checkboxList>
      <Value><![CDATA[[
  "2"
]]]></Value>
    </checkboxList>
    <colorPicker>
      <Value><![CDATA[{
  "value": "bf9000",
  "label": "bf9000",
  "sortOrder": 2,
  "id": "3"
}]]></Value>
    </colorPicker>
    <contentPicker>
      <Value><![CDATA[]]></Value>
    </contentPicker>
    <datePicker>
      <Value><![CDATA[2023-03-30T00:00:00]]></Value>
    </datePicker>
    <datePickerWithTime>
      <Value><![CDATA[]]></Value>
    </datePickerWithTime>
    <decimal>
      <Value><![CDATA[3.9889]]></Value>
    </decimal>
    <dropdown>
      <Value><![CDATA[[
  "Mark"
]]]></Value>
    </dropdown>
    <emailAddress>
      <Value><![CDATA[my@email.com]]></Value>
    </emailAddress>
    <eyeDropperColorPicker>
      <Value><![CDATA[#aa7474]]></Value>
    </eyeDropperColorPicker>
    <file>
      <Value><![CDATA[]]></Value>
    </file>
    <imageCropper>
      <Value><![CDATA[]]></Value>
    </imageCropper>
    <imageMediaPicker>
      <Value><![CDATA[[]]]></Value>
    </imageMediaPicker>
    <markdown>
      <Value><![CDATA[]]></Value>
    </markdown>
    <mediaPicker>
      <Value><![CDATA[[]]]></Value>
    </mediaPicker>
    <mediaPickerLegacy>
      <Value><![CDATA[]]></Value>
    </mediaPickerLegacy>
    <memberGroupPicker>
      <Value><![CDATA[]]></Value>
    </memberGroupPicker>
    <memberPicker>
      <Value><![CDATA[]]></Value>
    </memberPicker>
    <multinodeTreepicker>
      <Value><![CDATA[]]></Value>
    </multinodeTreepicker>
    <multipleImageMediaPicker>
      <Value><![CDATA[[]]]></Value>
    </multipleImageMediaPicker>
    <multipleMediaPicker>
      <Value><![CDATA[[]]]></Value>
    </multipleMediaPicker>
    <multipleMediaPickerLegacy>
      <Value><![CDATA[]]></Value>
    </multipleMediaPickerLegacy>
    <multiUrlPicker>
      <Value><![CDATA[]]></Value>
    </multiUrlPicker>
    <numeric>
      <Value><![CDATA[]]></Value>
    </numeric>
    <radiobox>
      <Value><![CDATA[]]></Value>
    </radiobox>
    <repeatableTextstrings>
      <Value><![CDATA[]]></Value>
    </repeatableTextstrings>
    <richtext>
      <Value><![CDATA[]]></Value>
    </richtext>
    <slider>
      <Value><![CDATA[0]]></Value>
    </slider>
    <svg>
      <Value><![CDATA[]]></Value>
    </svg>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <textarea>
      <Value><![CDATA[]]></Value>
    </textarea>
    <textstring>
      <Value><![CDATA[]]></Value>
    </textstring>
    <trueOrFalse>
      <Value><![CDATA[0]]></Value>
    </trueOrFalse>
    <userPicker>
      <Value><![CDATA[]]></Value>
    </userPicker>
    <video>
      <Value><![CDATA[]]></Value>
    </video>
  </Properties>
</Content>