<?xml version="1.0" encoding="utf-8"?>
<Content Key="d12babab-8b63-49d5-8d1f-140e4eb97e8b" Alias="Page 1.2" Level="3">
  <Info>
    <Parent Key="08f23909-4751-47e9-b2e8-88ca07598947">Collection of pages</Parent>
    <Path>/Site1/CollectionOfPages/Page12</Path>
    <Trashed>false</Trashed>
    <ContentType>default</ContentType>
    <CreateDate>2023-03-24T17:18:32</CreateDate>
    <NodeName Default="Page 1.2" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <article>
      <Value><![CDATA[]]></Value>
    </article>
    <audio>
      <Value><![CDATA[]]></Value>
    </audio>
    <blockGrid>
      <Value><![CDATA[]]></Value>
    </blockGrid>
    <blockList>
      <Value><![CDATA[]]></Value>
    </blockList>
    <checkboxList>
      <Value><![CDATA[]]></Value>
    </checkboxList>
    <colorPicker>
      <Value><![CDATA[]]></Value>
    </colorPicker>
    <contentPicker>
      <Value><![CDATA[]]></Value>
    </contentPicker>
    <datePicker>
      <Value><![CDATA[]]></Value>
    </datePicker>
    <datePickerWithTime>
      <Value><![CDATA[]]></Value>
    </datePickerWithTime>
    <decimal>
      <Value><![CDATA[]]></Value>
    </decimal>
    <dropdown>
      <Value><![CDATA[]]></Value>
    </dropdown>
    <emailAddress>
      <Value><![CDATA[]]></Value>
    </emailAddress>
    <eyeDropperColorPicker>
      <Value><![CDATA[]]></Value>
    </eyeDropperColorPicker>
    <file>
      <Value><![CDATA[]]></Value>
    </file>
    <imageCropper>
      <Value><![CDATA[]]></Value>
    </imageCropper>
    <imageMediaPicker>
      <Value><![CDATA[[]]]></Value>
    </imageMediaPicker>
    <markdown>
      <Value><![CDATA[]]></Value>
    </markdown>
    <mediaPicker>
      <Value><![CDATA[[]]]></Value>
    </mediaPicker>
    <mediaPickerLegacy>
      <Value><![CDATA[]]></Value>
    </mediaPickerLegacy>
    <memberGroupPicker>
      <Value><![CDATA[]]></Value>
    </memberGroupPicker>
    <memberPicker>
      <Value><![CDATA[]]></Value>
    </memberPicker>
    <multinodeTreepicker>
      <Value><![CDATA[]]></Value>
    </multinodeTreepicker>
    <multipleImageMediaPicker>
      <Value><![CDATA[[]]]></Value>
    </multipleImageMediaPicker>
    <multipleMediaPicker>
      <Value><![CDATA[[]]]></Value>
    </multipleMediaPicker>
    <multipleMediaPickerLegacy>
      <Value><![CDATA[]]></Value>
    </multipleMediaPickerLegacy>
    <multiUrlPicker>
      <Value><![CDATA[]]></Value>
    </multiUrlPicker>
    <numeric>
      <Value><![CDATA[]]></Value>
    </numeric>
    <radiobox>
      <Value><![CDATA[]]></Value>
    </radiobox>
    <repeatableTextstrings>
      <Value><![CDATA[]]></Value>
    </repeatableTextstrings>
    <richtext>
      <Value><![CDATA[]]></Value>
    </richtext>
    <slider>
      <Value><![CDATA[0]]></Value>
    </slider>
    <svg>
      <Value><![CDATA[]]></Value>
    </svg>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <textarea>
      <Value><![CDATA[]]></Value>
    </textarea>
    <textstring>
      <Value><![CDATA[]]></Value>
    </textstring>
    <trueOrFalse>
      <Value><![CDATA[0]]></Value>
    </trueOrFalse>
    <userPicker>
      <Value><![CDATA[]]></Value>
    </userPicker>
    <video>
      <Value><![CDATA[]]></Value>
    </video>
  </Properties>
</Content>