<?xml version="1.0" encoding="utf-8"?>
<Content Key="d0351e46-e0bf-4eaa-ad2b-57a45451097e" Alias="Site with culture" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteWithCulture</Path>
    <Trashed>false</Trashed>
    <ContentType>siteWithCulture</ContentType>
    <CreateDate>2023-05-16T10:56:02</CreateDate>
    <NodeName Default="Site with culture">
      <Name Culture="da">Site with culture (DA)</Name>
      <Name Culture="en-us">Site with culture</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="da">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <textstring>
      <Value><![CDATA[uncultured string]]></Value>
    </textstring>
    <textstringCulture>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[en-us value]]></Value>
    </textstringCulture>
  </Properties>
</Content>