<?xml version="1.0" encoding="utf-8"?>
<Content Key="af060c57-4e6a-43ff-9a25-39bf4389261c" Alias="UnPublishedPage" Level="2">
  <Info>
    <Parent Key="f894ebb3-7353-4439-b84c-04ed7d283202">UnpublishedSite</Parent>
    <Path>/UnpublishedSite/UnPublishedPage</Path>
    <Trashed>false</Trashed>
    <ContentType>default</ContentType>
    <CreateDate>2023-04-12T14:18:59</CreateDate>
    <NodeName Default="UnPublishedPage" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <article>
      <Value><![CDATA[]]></Value>
    </article>
    <audio>
      <Value><![CDATA[]]></Value>
    </audio>
    <blockGrid>
      <Value><![CDATA[]]></Value>
    </blockGrid>
    <blockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/5a7c66d6c23f40adbba7d8ee7ede188f"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "15d42001-fcfb-4981-b634-4919b8d085a6",
      "udi": "umb://element/5a7c66d6c23f40adbba7d8ee7ede188f",
      "checkboxList": [
        "3"
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </blockList>
    <checkboxList>
      <Value><![CDATA[[
  "2"
]]]></Value>
    </checkboxList>
    <colorPicker>
      <Value><![CDATA[{
  "value": "000000",
  "label": "000000",
  "sortOrder": 0,
  "id": "1"
}]]></Value>
    </colorPicker>
    <contentPicker>
      <Value><![CDATA[umb://document/f894ebb373534439b84c04ed7d283202]]></Value>
    </contentPicker>
    <datePicker>
      <Value><![CDATA[2023-04-05T00:00:00]]></Value>
    </datePicker>
    <datePickerWithTime>
      <Value><![CDATA[]]></Value>
    </datePickerWithTime>
    <decimal>
      <Value><![CDATA[8978]]></Value>
    </decimal>
    <dropdown>
      <Value><![CDATA[[
  "Mark"
]]]></Value>
    </dropdown>
    <emailAddress>
      <Value><![CDATA[unpublished@publish.com]]></Value>
    </emailAddress>
    <eyeDropperColorPicker>
      <Value><![CDATA[#c19191]]></Value>
    </eyeDropperColorPicker>
    <file>
      <Value><![CDATA[]]></Value>
    </file>
    <imageCropper>
      <Value><![CDATA[]]></Value>
    </imageCropper>
    <imageMediaPicker>
      <Value><![CDATA[[]]]></Value>
    </imageMediaPicker>
    <markdown>
      <Value><![CDATA[]]></Value>
    </markdown>
    <mediaPicker>
      <Value><![CDATA[[]]]></Value>
    </mediaPicker>
    <mediaPickerLegacy>
      <Value><![CDATA[]]></Value>
    </mediaPickerLegacy>
    <memberGroupPicker>
      <Value><![CDATA[]]></Value>
    </memberGroupPicker>
    <memberPicker>
      <Value><![CDATA[]]></Value>
    </memberPicker>
    <multinodeTreepicker>
      <Value><![CDATA[]]></Value>
    </multinodeTreepicker>
    <multipleImageMediaPicker>
      <Value><![CDATA[[]]]></Value>
    </multipleImageMediaPicker>
    <multipleMediaPicker>
      <Value><![CDATA[[]]]></Value>
    </multipleMediaPicker>
    <multipleMediaPickerLegacy>
      <Value><![CDATA[]]></Value>
    </multipleMediaPickerLegacy>
    <multiUrlPicker>
      <Value><![CDATA[]]></Value>
    </multiUrlPicker>
    <numeric>
      <Value><![CDATA[]]></Value>
    </numeric>
    <radiobox>
      <Value><![CDATA[]]></Value>
    </radiobox>
    <repeatableTextstrings>
      <Value><![CDATA[]]></Value>
    </repeatableTextstrings>
    <richtext>
      <Value><![CDATA[]]></Value>
    </richtext>
    <slider>
      <Value><![CDATA[0]]></Value>
    </slider>
    <svg>
      <Value><![CDATA[]]></Value>
    </svg>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <textarea>
      <Value><![CDATA[]]></Value>
    </textarea>
    <textstring>
      <Value><![CDATA[]]></Value>
    </textstring>
    <trueOrFalse>
      <Value><![CDATA[0]]></Value>
    </trueOrFalse>
    <userPicker>
      <Value><![CDATA[]]></Value>
    </userPicker>
    <video>
      <Value><![CDATA[]]></Value>
    </video>
  </Properties>
</Content>