<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b480f15c-ba68-4b4f-bd56-23408006df73" Alias="Markdown editor" Level="1">
  <Info>
    <Name>Markdown editor</Name>
    <EditorAlias>Umbraco.MarkdownEditor</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "DefaultValue": null,
  "DisplayLivePreview": true,
  "OverlaySize": "small"
}]]></Config>
</DataType>