<?xml version="1.0" encoding="utf-8"?>
<DataType Key="af84c6f8-a97f-4389-ac6c-b028006d967b" Alias="Slider" Level="1">
  <Info>
    <Name>Slider</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 0.0,
  "InitialValue2": 0.0,
  "MaximumValue": 10.0,
  "MinimumValue": 0.0,
  "StepIncrements": 1.0
}]]></Config>
</DataType>