<?xml version="1.0" encoding="utf-8"?>
<DataType Key="744b10e6-bc95-45a7-98b5-54e970875e13" Alias="Element2 - bab - Email address" Level="1">
  <Info>
    <Name>Element2 - bab - Email address</Name>
    <EditorAlias>Umbraco.EmailAddress</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IsRequired": false
}]]></Config>
</DataType>