<?xml version="1.0" encoding="utf-8"?>
<DataType Key="72ded839-02e2-4981-85bb-8e49c961feaa" Alias="Element2 - fddf - Slider" Level="1">
  <Info>
    <Name>Element2 - fddf - Slider</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "EnableRange": true,
  "InitialValue": 0.0,
  "InitialValue2": 0.0,
  "MinimumValue": 0.0,
  "MaximumValue": 0.0,
  "StepIncrements": 0.0
}]]></Config>
</DataType>