<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6c91b3fe-72d0-43d3-b186-62e7c03b2977" Alias="element1 - dasa - Block List" Level="1">
  <Info>
    <Name>element1 - dasa - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "fb4523d0-1597-4385-9803-eb56b91c3fd4",
      "settingsElementTypeKey": "3028e2a0-89f5-40ed-a934-4020c533c3bf",
      "view": null,
      "stylesheet": null,
      "label": null,
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "3028e2a0-89f5-40ed-a934-4020c533c3bf",
      "settingsElementTypeKey": "3028e2a0-89f5-40ed-a934-4020c533c3bf",
      "view": null,
      "stylesheet": null,
      "label": null,
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": 1,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>