<?xml version="1.0" encoding="utf-8"?>
<DataType Key="91724bf3-09b6-43dd-bab4-93b7a0dc7b69" Alias="Element2 - ba - Decimal" Level="1">
  <Info>
    <Name>Element2 - ba - Decimal</Name>
    <EditorAlias>Umbraco.Decimal</EditorAlias>
    <DatabaseType>Decimal</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>