<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3a0156c4-3b8c-4803-bdc1-6871faa83fff" Alias="List View - Media" Level="1">
  <Info>
    <Name>List View - Media</Name>
    <EditorAlias>Umbraco.ListView</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Collection</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "includeProperties": [
    {
      "alias": "updateDate",
      "header": "Last edited",
      "isSystem": true
    },
    {
      "alias": "creator",
      "header": "Updated by",
      "isSystem": true
    }
  ],
  "layouts": [
    {
      "name": "Grid",
      "collectionView": "Umb.CollectionView.Media.Grid",
      "icon": "icon-thumbnails-small",
      "isSystem": true,
      "selected": true
    },
    {
      "name": "List",
      "collectionView": "Umb.CollectionView.Media.Table",
      "icon": "icon-list",
      "isSystem": true,
      "selected": true
    }
  ],
  "orderBy": "updateDate",
  "orderDirection": "desc",
  "pageSize": 100
}]]></Config>
</DataType>