<?xml version="1.0" encoding="utf-8"?>
<Media Key="aa3e5abd-75a9-4533-ada9-ed472219781e" Alias="Authors" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Authors</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-08-15T23:20:29</CreateDate>
    <NodeName Default="Authors" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>