<?xml version="1.0" encoding="utf-8"?>
<Media Key="98a6a74c-4d76-49f6-a84d-377a125ed9e4" Alias="Cc Paypal" Level="2">
  <Info>
    <Parent Key="71332aa7-8bea-44f1-9aa6-00de961b66e8">Social Icons</Parent>
    <Path>/SocialIcons/CcPaypal</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-07-29T11:01:40</CreateDate>
    <NodeName Default="Cc Paypal" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pwtlngdw/cc-paypal.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>