<?xml version="1.0" encoding="utf-8"?>
<Media Key="87163027-204d-44bd-a74c-c1363368d92f" Alias="Discord" Level="2">
  <Info>
    <Parent Key="71332aa7-8bea-44f1-9aa6-00de961b66e8">Social Icons</Parent>
    <Path>/SocialIcons/Discord</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-07-29T11:01:31</CreateDate>
    <NodeName Default="Discord" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cyybnb0n/discord.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>