<?xml version="1.0" encoding="utf-8"?>
<Media Key="db22bb69-b0ae-44bb-9019-a3e6498d4c25" Alias="First timers at codegarden" Level="2">
  <Info>
    <Parent Key="9bae5a55-05d4-46a9-b2b3-f1ddb9a2bc38">Sample Images</Parent>
    <Path>/SampleImages/FirstTimersAtCodegarden</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-10-09T23:24:24</CreateDate>
    <NodeName Default="First timers at codegarden" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "crops": null,
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "/media/n43dfw3o/first-timers-at-codegarden.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>