<?xml version="1.0" encoding="utf-8"?>
<Media Key="09964651-713e-4260-b9b9-9f3f4d6b9442" Alias="Github" Level="2">
  <Info>
    <Parent Key="71332aa7-8bea-44f1-9aa6-00de961b66e8">Social Icons</Parent>
    <Path>/SocialIcons/Github</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-07-29T11:00:55</CreateDate>
    <NodeName Default="Github" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mbdjmcj4/github.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>