<?xml version="1.0" encoding="utf-8"?>
<Media Key="6921a6b4-3a02-4354-83bf-344074c4d00d" Alias="Github Alt" Level="2">
  <Info>
    <Parent Key="71332aa7-8bea-44f1-9aa6-00de961b66e8">Social Icons</Parent>
    <Path>/SocialIcons/GithubAlt</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-07-29T11:00:56</CreateDate>
    <NodeName Default="Github Alt" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qwtcc0ic/github-alt.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>