<?xml version="1.0" encoding="utf-8"?>
<Media Key="77df90cf-87ec-4ee3-855c-c641b6975b45" Alias="Mastodon" Level="2">
  <Info>
    <Parent Key="9bae5a55-05d4-46a9-b2b3-f1ddb9a2bc38">Sample Images</Parent>
    <Path>/SampleImages/Mastodon</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-14T14:48:08</CreateDate>
    <NodeName Default="Mastodon" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zgin435m/mastodon.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>