<?xml version="1.0" encoding="utf-8"?>
<Media Key="a61578a3-11bb-4425-9fe1-86a89434e638" Alias="Meetup organizers at codegarden" Level="2">
  <Info>
    <Parent Key="9bae5a55-05d4-46a9-b2b3-f1ddb9a2bc38">Sample Images</Parent>
    <Path>/SampleImages/MeetupOrganizersAtCodegarden</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-10-09T23:24:22</CreateDate>
    <NodeName Default="Meetup organizers at codegarden" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[A group of meetup organisers on stage at Codegarden]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/uv2bljv1/meetup-organizers-at-codegarden.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>