<?xml version="1.0" encoding="utf-8"?>
<Media Key="c334997e-f9a7-498b-83af-f4888a97d5bc" Alias="Package Manifest" Level="2">
  <Info>
    <Parent Key="9bae5a55-05d4-46a9-b2b3-f1ddb9a2bc38">Sample Images</Parent>
    <Path>/SampleImages/PackageManifest</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T06:32:59</CreateDate>
    <NodeName Default="Package Manifest" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pcmdjq3h/package-manifest.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>