<?xml version="1.0" encoding="utf-8"?>
<Media Key="48bc7fab-611a-410d-a9eb-1cf82d811711" Alias="Share Nodes" Level="2">
  <Info>
    <Parent Key="71332aa7-8bea-44f1-9aa6-00de961b66e8">Social Icons</Parent>
    <Path>/SocialIcons/ShareNodes</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-07-29T11:11:04</CreateDate>
    <NodeName Default="Share Nodes" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tj5lysa0/share-nodes.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>