<?xml version="1.0" encoding="utf-8"?>
<Media Key="e84325c0-7f59-450c-8b4b-9c731991c3df" Alias="Square Twitter" Level="2">
  <Info>
    <Parent Key="71332aa7-8bea-44f1-9aa6-00de961b66e8">Social Icons</Parent>
    <Path>/SocialIcons/SquareTwitter</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-07-29T10:59:30</CreateDate>
    <NodeName Default="Square Twitter" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4esfh0cz/square-twitter.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>