<?xml version="1.0" encoding="utf-8"?>
<Media Key="c75e975e-5a1b-4366-9dc0-c5d3ea289d8f" Alias="Tutorials" Level="2">
  <Info>
    <Parent Key="9bae5a55-05d4-46a9-b2b3-f1ddb9a2bc38">Sample Images</Parent>
    <Path>/SampleImages/Tutorials</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T06:50:20</CreateDate>
    <NodeName Default="Tutorials" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[A clipboard with a piece of paper titled Tutorial and some empty bullet points. Also a pen and a laptop.]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lclf3ry1/tutorials.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>