<?xml version="1.0" encoding="utf-8"?>
<Media Key="7639bb90-3ba4-4765-bec5-655bc3485c06" Alias="Umbraco" Level="2">
  <Info>
    <Parent Key="71332aa7-8bea-44f1-9aa6-00de961b66e8">Social Icons</Parent>
    <Path>/SocialIcons/Umbraco</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-07-29T10:59:19</CreateDate>
    <NodeName Default="Umbraco" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ug3ds3ve/umbraco.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>