<?xml version="1.0" encoding="utf-8"?>
<Media Key="40a96dad-887a-4684-8c1c-893811de3810" Alias="test.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/testpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-12T07:13:56</CreateDate>
    <NodeName Default="test.png" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.22826086956521738,
    "top": 0.32489438600178006
  },
  "crops": [],
  "src": "/media/vnwlsqd0/test.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>