<?xml version="1.0" encoding="utf-8"?>
<Content Key="83f916c6-4028-4984-96fa-e6060e824edf" Alias="das" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/das</Path>
    <Trashed>false</Trashed>
    <ContentType>test</ContentType>
    <CreateDate>2021-09-14T12:41:32</CreateDate>
    <NodeName Default="das" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e20f94d9-3bf6-449c-a75d-d1eebcd2cd2d">Test</Template>
  </Info>
  <Properties>
    <block>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b3abfc866dc34e2ba92bb68eb811b961"
      },
      {
        "contentUdi": "umb://element/7f982259833d4f72b57b58ad0905ba02"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "fb4523d0-1597-4385-9803-eb56b91c3fd4",
      "udi": "umb://element/b3abfc866dc34e2ba92bb68eb811b961",
      "media": [
        {
          "key": "1b3e625d-5d94-4f31-a3bc-9d0652065a54",
          "mediaKey": "35e4bdda-dfa8-4803-b5e9-29704362f18c",
          "crops": [],
          "focalPoint": {
            "left": 0.5,
            "top": 0.5
          }
        }
      ],
      "toggle": "1",
      "userPicker": "-1",
      "dropdown": "",
      "dasa": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/dc9a26428248448abe5c4fd7b9d39c39",
              "settingsUdi": "umb://element/0ea0e4d5ad7541649d9518bc8a5ef633"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "fb4523d0-1597-4385-9803-eb56b91c3fd4",
            "udi": "umb://element/dc9a26428248448abe5c4fd7b9d39c39",
            "media": null,
            "toggle": "0",
            "userPicker": "",
            "dropdown": "",
            "dasa": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/44d6a787bd954de087987cd8ee7679f8",
                    "settingsUdi": "umb://element/939d1fe5e78443e4bc64ea67f6bb5380"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "fb4523d0-1597-4385-9803-eb56b91c3fd4",
                  "udi": "umb://element/44d6a787bd954de087987cd8ee7679f8",
                  "media": null,
                  "toggle": "0",
                  "userPicker": "",
                  "dropdown": "",
                  "dasa": {
                    "layout": {
                      "Umbraco.BlockList": [
                        {
                          "contentUdi": "umb://element/f961b69d4e4345ee9b8a6621884de289",
                          "settingsUdi": "umb://element/0b70292f39c6436a9f26b719f3b353df"
                        }
                      ]
                    },
                    "contentData": [
                      {
                        "contentTypeKey": "3028e2a0-89f5-40ed-a934-4020c533c3bf",
                        "udi": "umb://element/f961b69d4e4345ee9b8a6621884de289",
                        "aa": "",
                        "ab": "",
                        "ba": "",
                        "bab": "",
                        "baba": "",
                        "ababa": "",
                        "bbbbb": "",
                        "bbbbbba": "",
                        "bbadbd": "",
                        "bdsbsd": "",
                        "bss": "",
                        "fddf": "0,0",
                        "gsfsd": "",
                        "ferwgerg": "",
                        "gtrehgd": "",
                        "gfsgdfhd": "0"
                      }
                    ],
                    "settingsData": [
                      {
                        "contentTypeKey": "3028e2a0-89f5-40ed-a934-4020c533c3bf",
                        "udi": "umb://element/0b70292f39c6436a9f26b719f3b353df",
                        "aa": null,
                        "ab": null,
                        "ba": "",
                        "bab": "",
                        "baba": "",
                        "ababa": "",
                        "bbbbb": "",
                        "bbbbbba": "",
                        "bbadbd": "",
                        "bdsbsd": "",
                        "bss": "",
                        "fddf": "0,0",
                        "gsfsd": "",
                        "ferwgerg": "",
                        "gtrehgd": "",
                        "gfsgdfhd": "0"
                      }
                    ]
                  }
                }
              ],
              "settingsData": [
                {
                  "contentTypeKey": "3028e2a0-89f5-40ed-a934-4020c533c3bf",
                  "udi": "umb://element/939d1fe5e78443e4bc64ea67f6bb5380",
                  "aa": null,
                  "ab": null,
                  "ba": "",
                  "bab": "",
                  "baba": "",
                  "ababa": "",
                  "bbbbb": "",
                  "bbbbbba": "",
                  "bbadbd": "",
                  "bdsbsd": "",
                  "bss": "",
                  "fddf": "0,0",
                  "gsfsd": "",
                  "ferwgerg": "",
                  "gtrehgd": "",
                  "gfsgdfhd": "0"
                }
              ]
            }
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "3028e2a0-89f5-40ed-a934-4020c533c3bf",
            "udi": "umb://element/0ea0e4d5ad7541649d9518bc8a5ef633",
            "aa": null,
            "ab": null,
            "ba": "",
            "bab": "",
            "baba": "",
            "ababa": "",
            "bbbbb": "",
            "bbbbbba": "",
            "bbadbd": "",
            "bdsbsd": "",
            "bss": "",
            "fddf": "0,0",
            "gsfsd": "",
            "ferwgerg": "",
            "gtrehgd": "",
            "gfsgdfhd": "0"
          }
        ]
      }
    },
    {
      "contentTypeKey": "fb4523d0-1597-4385-9803-eb56b91c3fd4",
      "udi": "umb://element/7f982259833d4f72b57b58ad0905ba02",
      "media": [
        {
          "key": "49a71fa8-5387-4046-9af2-a410b721e31d",
          "mediaKey": "35e4bdda-dfa8-4803-b5e9-29704362f18c",
          "crops": [],
          "focalPoint": {
            "left": 0.5,
            "top": 0.5
          }
        }
      ],
      "toggle": "1",
      "userPicker": "-1",
      "dropdown": "",
      "dasa": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/59c9e583c37a47d99343927f85360d1f",
              "settingsUdi": "umb://element/59feef0f2f314ad8b8a4452e6efbee50"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "fb4523d0-1597-4385-9803-eb56b91c3fd4",
            "udi": "umb://element/59c9e583c37a47d99343927f85360d1f",
            "media": [
              {
                "key": "fb402b3a-d185-420d-ada9-e877dbc0f9f7",
                "mediaKey": "35e4bdda-dfa8-4803-b5e9-29704362f18c",
                "crops": [],
                "focalPoint": {
                  "left": 0.5,
                  "top": 0.5
                }
              }
            ],
            "toggle": "0",
            "userPicker": "-1",
            "dropdown": [],
            "dasa": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/cc61e133953349eba35621589c44f90c",
                    "settingsUdi": "umb://element/8aff281b9cee4a27be8460eed1f6b5db"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "3028e2a0-89f5-40ed-a934-4020c533c3bf",
                  "udi": "umb://element/cc61e133953349eba35621589c44f90c",
                  "aa": "2021-09-14T00:00:00",
                  "ab": "2021-09-09T12:00:00",
                  "ba": "123",
                  "baba": "",
                  "ababa": "",
                  "bbbbb": "",
                  "bbbbbba": "",
                  "bbadbd": "",
                  "bdsbsd": "",
                  "bss": "131",
                  "fddf": "20,59",
                  "gsfsd": "",
                  "ferwgerg": "fsdgsd",
                  "gtrehgd": "gdsfs",
                  "gfsgdfhd": "1"
                }
              ],
              "settingsData": [
                {
                  "contentTypeKey": "3028e2a0-89f5-40ed-a934-4020c533c3bf",
                  "udi": "umb://element/8aff281b9cee4a27be8460eed1f6b5db",
                  "aa": null,
                  "ab": null,
                  "ba": "",
                  "bab": "",
                  "baba": "",
                  "ababa": "",
                  "bbbbb": "",
                  "bbbbbba": "",
                  "bbadbd": "",
                  "bdsbsd": "",
                  "bss": "",
                  "fddf": "0,0",
                  "gsfsd": "",
                  "ferwgerg": "",
                  "gtrehgd": "",
                  "gfsgdfhd": "0"
                }
              ]
            }
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "3028e2a0-89f5-40ed-a934-4020c533c3bf",
            "udi": "umb://element/59feef0f2f314ad8b8a4452e6efbee50",
            "aa": "",
            "ab": "",
            "ba": "",
            "bab": "",
            "baba": "",
            "ababa": "",
            "bbbbb": "",
            "bbbbbba": "",
            "bbadbd": "",
            "bdsbsd": "",
            "bss": "",
            "fddf": "0,0",
            "gsfsd": "",
            "ferwgerg": "",
            "gtrehgd": "",
            "gfsgdfhd": "0"
          }
        ]
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </block>
    <text>
      <Value><![CDATA[gdsgsd]]></Value>
    </text>
  </Properties>
</Content>