<?xml version="1.0" encoding="utf-8"?>
<Content Key="805a5fe7-d8ff-472d-9dd4-b73e48a6d15b" Alias="Site with unpublished pages" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteWithUnpublishedPages</Path>
    <Trashed>false</Trashed>
    <ContentType>site</ContentType>
    <CreateDate>2023-04-12T22:53:47</CreateDate>
    <NodeName Default="Site with unpublished pages" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>