<?xml version="1.0" encoding="utf-8"?>
<Media Key="10641d52-54ac-43d5-9f5e-9074642715bf" Alias="My media 2" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MyMedia2</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-04-17T20:16:42</CreateDate>
    <NodeName Default="My media 2" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>