<?xml version="1.0" encoding="utf-8"?>
<Media Key="343c83c9-1782-4db5-8e13-cdcddf7ab772" Alias="Skærmbillede 2023 04 17 Kl. 20.15.51" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Skaermbillede20230417Kl201551</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-17T20:15:53</CreateDate>
    <NodeName Default="Skærmbillede 2023 04 17 Kl. 20.15.51" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/z4bdynec/skaermbillede-2023-04-17-kl-201551.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>