<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="70ce58de-3f62-41f6-a005-e0a3e8643579" Alias="defaultCulture" Level="2">
  <Info>
    <Name>Default with culture</Name>
    <Icon>icon-article color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="033c3a21-a83a-4392-9726-bad97ada4f31">blockListEditor</Composition>
      <Composition Key="684bdc4f-2824-4a46-9d4a-82946714d1a5">blockListEditorCulture</Composition>
      <Composition Key="15d42001-fcfb-4981-b634-4919b8d085a6">checkboxListEditor</Composition>
      <Composition Key="d90f8107-14ed-4ad7-baae-8e4dd6f953f7">checkboxListEditorCulture</Composition>
      <Composition Key="cf161551-8ca7-4aab-bbdc-8a3718af7f44">colorPickerEditor</Composition>
      <Composition Key="6914f31d-c55a-45c3-8d1c-47857fc735e4">colorPickerEditorCulture</Composition>
      <Composition Key="488f41d1-f482-4b62-a59d-50ce45b47e60">contentPickerEditor</Composition>
      <Composition Key="792db50e-2d7d-499d-b5bf-d7ce721b23d2">contentPickerEditorCulture</Composition>
      <Composition Key="568408d3-b681-4f43-8f3a-32371eaa9a37">datePickerEditor</Composition>
      <Composition Key="eb18d30e-7e95-41d8-98a6-703acd68f065">datePickerEditorCulture</Composition>
      <Composition Key="85a55d92-c438-46c5-bc1c-ddffd41344d9">decimalEditor</Composition>
      <Composition Key="d6c89375-466c-4674-a64d-7624a921c96c">decimalEditorCulture</Composition>
      <Composition Key="6c5cceb5-f30d-405c-a4a8-c82f685b533e">dropdownEditor</Composition>
      <Composition Key="4c7e12ec-846d-47ee-89a6-a5501906d326">dropdownEditorCulture</Composition>
      <Composition Key="e4dac59e-9fc8-4cbd-af6a-5ad60c8a05e8">emailAddressEditor</Composition>
      <Composition Key="07ee7232-1f8d-4b6a-a22c-ea801b933d71">emailAddressEditorCulture</Composition>
      <Composition Key="69b5bdfb-594a-444d-8ff7-4859c8d5c0a1">eyeDropperColorPickerEditor</Composition>
      <Composition Key="c2c94341-79c5-4f67-add8-95bb97914c90">eyeDropperColorPickerEditorCulture</Composition>
      <Composition Key="9c3933ef-2690-4bcb-a346-85eee7f028bc">fileUpload</Composition>
      <Composition Key="3c988d17-63be-47cc-b600-b41816b1e67e">fileUploadCulture</Composition>
      <Composition Key="c0882004-9d6e-4908-bf26-d8d579fa3776">imageCropperEditor</Composition>
      <Composition Key="bac96702-ba37-4dcc-b91d-dc338f94f49e">imageCropperEditorCulture</Composition>
      <Composition Key="ec028cdc-9b2d-4ad0-8ecc-96c8416b2a01">markdownEditor</Composition>
      <Composition Key="ab9aa837-1c48-4274-abec-d8e98d8c9056">markdownEditorCulture</Composition>
      <Composition Key="15dc44be-230f-477b-93b9-b85238401862">mediaPickerEditor</Composition>
      <Composition Key="740f226f-32c7-45ac-8803-50df655d2ab5">mediaPickerEditorCulture</Composition>
      <Composition Key="8b8f7259-0c6f-4ac4-9f6c-ea16fb1eb1e2">mediaPickerLegacyEditor</Composition>
      <Composition Key="0f7a36ee-7df9-40db-b88e-161cac685893">mediaPickerLegacyEditorCulture</Composition>
      <Composition Key="39ea8a96-cdf7-4e19-ad6f-1fe427353458">memberGroupPickerEditor</Composition>
      <Composition Key="1656d9a7-d6b9-4654-8760-9ae600196e8e">memberGroupPickerEditorCulture</Composition>
      <Composition Key="52b331fc-6272-421e-a136-7c5dd52a47dd">memberPickerEditor</Composition>
      <Composition Key="2625a606-e210-42a6-a808-1b076154a465">memberPickerEditorCulture</Composition>
      <Composition Key="844d5a6b-1671-4cd0-b988-11247744b065">multinodeTreepickerEditor</Composition>
      <Composition Key="2e786f7d-66c7-4af1-a245-f013166893eb">multinodeTreepickerEditorCulture</Composition>
      <Composition Key="aa819aad-7707-44b7-9cb2-75586b4eee20">multiUrlPickerEditor</Composition>
      <Composition Key="6355c5eb-bda8-4f9f-84ef-94982bb662b4">multiUrlPickerEditorCulture</Composition>
      <Composition Key="52fd5cd9-b1f2-44fe-99a5-bbed1bdde61b">numericEditor</Composition>
      <Composition Key="529223cd-262f-4251-907a-6d36cd7caf4e">numericEditorCulture</Composition>
      <Composition Key="4684e9d1-6f28-4039-a1b1-0d6f9cc28699">radioboxEditor</Composition>
      <Composition Key="8f455e3b-23fe-408e-91c9-41a1f7fccd33">radioboxEditorCulture</Composition>
      <Composition Key="78c763f3-22b7-4cda-99eb-d9da0ac126eb">repeatableTextstringsEditor</Composition>
      <Composition Key="8fc6b2f4-19b4-42c0-9489-1456c7e61d48">repeatableTextstringsEditorCulture</Composition>
      <Composition Key="e01e0885-15df-4630-8185-749061a4188b">richtextEditor</Composition>
      <Composition Key="6b46b3c4-fc5b-4287-a99f-4f9bd7edc1dd">richtextEditorCulture</Composition>
      <Composition Key="eac79c69-e6df-432e-b568-36e98f45da81">sliderEditor</Composition>
      <Composition Key="e340e30d-6eb2-4db9-bb14-06bb2014a07f">sliderEditorCulture</Composition>
      <Composition Key="78e17c12-aae2-49d0-a3d5-dddba78e4d19">tagsEditor</Composition>
      <Composition Key="8b963752-35f0-4372-a150-dcb4c3d27f64">tagsEditorCulture</Composition>
      <Composition Key="63172105-9f75-4441-aa5b-a076504c40c0">textareaEditor</Composition>
      <Composition Key="96717081-c626-4a67-a654-cc3daf8371a4">textareaEditorCulture</Composition>
      <Composition Key="0761d841-8c60-4565-986d-d292977397e3">textboxEditor</Composition>
      <Composition Key="68368d0c-9831-409e-b1d3-8892715c225c">textboxEditorCulture</Composition>
      <Composition Key="5c048257-c6a3-40f6-8ae0-86c619ad1c99">toggleEditor</Composition>
      <Composition Key="c0d2962f-51b4-4ca3-bd9b-87f7db4145a2">toggleEditorCulture</Composition>
      <Composition Key="90659363-d63a-4c20-90e4-72df5c6babab">userPickerEditor</Composition>
      <Composition Key="a826114f-1a52-4e59-b77e-607dedf3c854">userPickerEditorCulture</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="6f3ed131-e834-47e0-9f19-dc6e311dd9d3" SortOrder="0">default</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>