<?xml version="1.0" encoding="utf-8"?>
<DataType Key="641bf5bf-f8cf-4ad9-be24-bd82452faffb" Alias="Contentment page - [Contentment] Data Picker" Level="1">
  <Info>
    <Name>Contentment page - [Contentment] Data Picker</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.DataPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.LanguagesDataListSource, Umbraco.Community.Contentment",
      "value": {}
    }
  ],
  "displayMode": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.CardsDataPickerDisplayMode, Umbraco.Community.Contentment",
      "value": null
    }
  ],
  "enableDevMode": "0",
  "hideSearch": "0",
  "maxItems": 0,
  "overlaySize": [
    "medium"
  ],
  "pageSize": 12
}]]></Config>
</DataType>