<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2f275a9d-133d-463a-b66c-2e0f144d1c33" Alias="Contentment page - [Contentment] Text Input" Level="1">
  <Info>
    <Name>Contentment page - [Contentment] Text Input</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.TextInput</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "autocomplete": "0",
  "inputType": "text",
  "prepend": "icon-activity color-black",
  "spellcheck": "0"
}]]></Config>
</DataType>