<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8e2a50b6-40b5-4c78-8fab-abc265cae786" Alias="Contentment page - [Contentment] List Items" Level="1">
  <Info>
    <Name>Contentment page - [Contentment] List Items</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.ListItems</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "confirmRemoval": "0",
  "enableDevMode": "0",
  "hideDescription": "0",
  "hideIcon": "0",
  "maxItems": 0
}]]></Config>
</DataType>