<?xml version="1.0" encoding="utf-8"?>
<DataType Key="59d03ce4-2093-4850-bd6b-acba48666765" Alias="Contentment page - [Contentment] Notes" Level="1">
  <Info>
    <Name>Contentment page - [Contentment] Notes</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.Notes</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "hideLabel": "0",
  "hidePropertyGroup": "0",
  "notes": {
    "markup": "\u003Cp\u003ENotes\u003C/p\u003E",
    "blocks": null
  }
}]]></Config>
</DataType>