<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9cbb85e8-ac1e-4a01-8868-fff5653c78d7" Alias="Contentment page - [Contentment] Data List" Level="1">
  <Info>
    <Name>Contentment page - [Contentment] Data List</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.DataList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.UserDefinedDataListSource, Umbraco.Community.Contentment",
      "value": {
        "items": [
          {
            "icon": "icon-stop",
            "name": "val 1",
            "value": "val1",
            "description": ""
          },
          {
            "icon": "icon-stop",
            "name": "val 2",
            "value": "val2",
            "description": ""
          },
          {
            "icon": "icon-stop",
            "name": "val 3",
            "value": "val3",
            "description": ""
          }
        ]
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.ItemPickerDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "overlaySize": [
          "small"
        ],
        "listType": "cards",
        "defaultIcon": "icon-document",
        "enableFilter": "1",
        "maxItems": 0,
        "allowClear": "0"
      }
    }
  ]
}]]></Config>
</DataType>