<?xml version="1.0" encoding="utf-8"?>
<DataType Key="40ec5272-7afe-4b76-af1d-3dd9a747ada7" Alias="Contentment page - [Contentment] Icon Picker" Level="1">
  <Info>
    <Name>Contentment page - [Contentment] Icon Picker</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.IconPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "defaultIcon": "icon-alarm-clock color-black",
  "hideColors": "0",
  "size": [
    "large"
  ]
}]]></Config>
</DataType>