<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0ecbf759-65e5-4fd9-9b33-978d31004eaa" Alias="Contentment page - [Contentment] Textbox List" Level="1">
  <Info>
    <Name>Contentment page - [Contentment] Textbox List</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.TextboxList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.CountriesDataListSource, Umbraco.Community.Contentment",
      "value": {}
    }
  ],
  "defaultIcon": "icon-document",
  "enableDevMode": "0",
  "labelStyle": "both"
}]]></Config>
</DataType>