<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0e639183-46df-46a9-914f-027740c23511" Alias="Contentment page - [Contentment] Bytes" Level="1">
  <Info>
    <Name>Contentment page - [Contentment] Bytes</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.Bytes</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "decimals": "2",
  "kilo": "1024"
}]]></Config>
</DataType>