<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c7be690e-ee49-46df-8763-9baa50b96669" Alias="Contentment page - [Contentment] Editor Notes" Level="1">
  <Info>
    <Name>Contentment page - [Contentment] Editor Notes</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.EditorNotes</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "alertType": "warning",
  "heading": "Editor note",
  "hideLabel": "0",
  "hidePropertyGroup": "0",
  "message": {
    "markup": "\u003Cp\u003EMessage\u003C/p\u003E",
    "blocks": null
  }
}]]></Config>
</DataType>