<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b4183691-0569-4923-ab7f-6cef28aa9bbf" Alias="Contentment page - [Contentment] Code Editor" Level="1">
  <Info>
    <Name>Contentment page - [Contentment] Code Editor</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.CodeEditor</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "fontSize": "small",
  "maxLines": 30,
  "minLines": 12,
  "mode": "javascript",
  "theme": "chrome",
  "useWrapMode": "0"
}]]></Config>
</DataType>