<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bb5f57c9-ce2b-4bb9-b697-4caca783a805" Alias="Radiobox" Level="1">
  <Info>
    <Name>Radiobox</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.RadioButtonList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "1",
    "2",
    "3"
  ],
  "umbMigrationV14": "2024-11-20T18:38:56.8220491\u002B00:00"
}]]></Config>
</DataType>