<?xml version="1.0" encoding="utf-8"?>
<DataType Key="454d49bb-9b0d-4331-b636-5e2d8a8efca8" Alias="Repeatable textstrings" Level="1">
  <Info>
    <Name>Repeatable textstrings</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 0,
  "min": 0,
  "umbMigrationV14": "2024-11-20T18:38:56.8316601\u002B00:00"
}]]></Config>
</DataType>