<?xml version="1.0" encoding="utf-8"?>
<Domain Key="5c62b2f2-0000-0000-0000-000000000000" Alias="site-3.com">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en-US</Language>
    <Root Key="805a5fe7-d8ff-472d-9dd4-b73e48a6d15b">/Site with unpublished pages</Root>
    <SortOrder>0</SortOrder>
  </Info>
</Domain>