<?xml version="1.0" encoding="utf-8"?>
<Domain Key="adb08397-0000-0000-0000-000000000000" Alias="site-2.com">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en-US</Language>
    <Root Key="dcf14fa0-dfc3-4108-8c9b-a4e9f77c0c29">/Site 2</Root>
    <SortOrder>0</SortOrder>
  </Info>
</Domain>