<?xml version="1.0" encoding="utf-8"?>
<Domain Key="0c8bf1f3-0000-0000-0000-000000000000" Alias="site-culture.dk">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>da</Language>
    <Root Key="d0351e46-e0bf-4eaa-ad2b-57a45451097e">/Site with culture</Root>
    <SortOrder>1</SortOrder>
  </Info>
</Domain>