<?xml version="1.0" encoding="utf-8"?>
<Domain Key="084f6195-0000-0000-0000-000000000000" Alias="site-culture.com">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en-US</Language>
    <Root Key="d0351e46-e0bf-4eaa-ad2b-57a45451097e">/Site with culture</Root>
    <SortOrder>0</SortOrder>
  </Info>
</Domain>