<?xml version="1.0" encoding="utf-8"?>
<Domain Key="1dbc9f3c-0000-0000-0000-000000000000" Alias="site-1.com">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en-US</Language>
    <Root Key="eadd5be4-456c-4a7d-8c4a-2f7ead9c8ecf">/Site 1</Root>
    <SortOrder>0</SortOrder>
  </Info>
</Domain>