<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d90f8107-14ed-4ad7-baae-8e4dd6f953f7" Alias="checkboxListEditorCulture" Level="2">
  <Info>
    <Name>Checkbox list editor (Culture)</Name>
    <Icon>icon-checkbox color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editors</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>fb8822d9-fd3c-43ac-932b-a2963f44a870</Key>
      <Name>Checkbox list culture</Name>
      <Alias>checkboxListCulture</Alias>
      <Definition>fbaf13a8-4036-41f2-93a3-974f678c312a</Definition>
      <Type>Umbraco.CheckBoxList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="contentCulture">Content culture</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>5235c792-b633-4615-af0e-ee3ec0cb8b74</Key>
      <Caption>Content culture</Caption>
      <Alias>contentCulture</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>