<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6f3ed131-e834-47e0-9f19-dc6e311dd9d3" Alias="default" Level="2">
  <Info>
    <Name>Default</Name>
    <Icon>icon-article color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="9a94cd5a-f157-4f90-90a3-bfeb7655aa3c">blockGridEditor</Composition>
      <Composition Key="033c3a21-a83a-4392-9726-bad97ada4f31">blockListEditor</Composition>
      <Composition Key="15d42001-fcfb-4981-b634-4919b8d085a6">checkboxListEditor</Composition>
      <Composition Key="cf161551-8ca7-4aab-bbdc-8a3718af7f44">colorPickerEditor</Composition>
      <Composition Key="488f41d1-f482-4b62-a59d-50ce45b47e60">contentPickerEditor</Composition>
      <Composition Key="568408d3-b681-4f43-8f3a-32371eaa9a37">datePickerEditor</Composition>
      <Composition Key="85a55d92-c438-46c5-bc1c-ddffd41344d9">decimalEditor</Composition>
      <Composition Key="6c5cceb5-f30d-405c-a4a8-c82f685b533e">dropdownEditor</Composition>
      <Composition Key="e4dac59e-9fc8-4cbd-af6a-5ad60c8a05e8">emailAddressEditor</Composition>
      <Composition Key="69b5bdfb-594a-444d-8ff7-4859c8d5c0a1">eyeDropperColorPickerEditor</Composition>
      <Composition Key="9c3933ef-2690-4bcb-a346-85eee7f028bc">fileUpload</Composition>
      <Composition Key="c0882004-9d6e-4908-bf26-d8d579fa3776">imageCropperEditor</Composition>
      <Composition Key="ec028cdc-9b2d-4ad0-8ecc-96c8416b2a01">markdownEditor</Composition>
      <Composition Key="15dc44be-230f-477b-93b9-b85238401862">mediaPickerEditor</Composition>
      <Composition Key="8b8f7259-0c6f-4ac4-9f6c-ea16fb1eb1e2">mediaPickerLegacyEditor</Composition>
      <Composition Key="39ea8a96-cdf7-4e19-ad6f-1fe427353458">memberGroupPickerEditor</Composition>
      <Composition Key="52b331fc-6272-421e-a136-7c5dd52a47dd">memberPickerEditor</Composition>
      <Composition Key="844d5a6b-1671-4cd0-b988-11247744b065">multinodeTreepickerEditor</Composition>
      <Composition Key="aa819aad-7707-44b7-9cb2-75586b4eee20">multiUrlPickerEditor</Composition>
      <Composition Key="52fd5cd9-b1f2-44fe-99a5-bbed1bdde61b">numericEditor</Composition>
      <Composition Key="4684e9d1-6f28-4039-a1b1-0d6f9cc28699">radioboxEditor</Composition>
      <Composition Key="78c763f3-22b7-4cda-99eb-d9da0ac126eb">repeatableTextstringsEditor</Composition>
      <Composition Key="e01e0885-15df-4630-8185-749061a4188b">richtextEditor</Composition>
      <Composition Key="eac79c69-e6df-432e-b568-36e98f45da81">sliderEditor</Composition>
      <Composition Key="78e17c12-aae2-49d0-a3d5-dddba78e4d19">tagsEditor</Composition>
      <Composition Key="63172105-9f75-4441-aa5b-a076504c40c0">textareaEditor</Composition>
      <Composition Key="0761d841-8c60-4565-986d-d292977397e3">textboxEditor</Composition>
      <Composition Key="5c048257-c6a3-40f6-8ae0-86c619ad1c99">toggleEditor</Composition>
      <Composition Key="90659363-d63a-4c20-90e4-72df5c6babab">userPickerEditor</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="6f3ed131-e834-47e0-9f19-dc6e311dd9d3" SortOrder="0">default</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>