<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c2c94341-79c5-4f67-add8-95bb97914c90" Alias="eyeDropperColorPickerEditorCulture" Level="2">
  <Info>
    <Name>Eye Dropper Color Picker editor (Culture)</Name>
    <Icon>icon-colorpicker color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editors</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>6319ab5d-ca6a-4a05-8213-9203a970cf37</Key>
      <Name>Eye Dropper Color Picker culture</Name>
      <Alias>eyeDropperColorPickerCulture</Alias>
      <Definition>b148139f-d728-442f-8c42-8ab185b9b80d</Definition>
      <Type>Umbraco.ColorPicker.EyeDropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="contentCulture">Content culture</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>ef69d84e-c353-4941-b284-5da0d2051da8</Key>
      <Caption>Content culture</Caption>
      <Alias>contentCulture</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>