<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="49189bec-377a-4da1-af15-3dd4fc16327a" Alias="siteWithCulture" Level="2">
  <Info>
    <Name>Site with culture</Name>
    <Icon>icon-globe-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="0761d841-8c60-4565-986d-d292977397e3">textboxEditor</Composition>
      <Composition Key="68368d0c-9831-409e-b1d3-8892715c225c">textboxEditorCulture</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="70ce58de-3f62-41f6-a005-e0a3e8643579" SortOrder="0">defaultCulture</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>