<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e340e30d-6eb2-4db9-bb14-06bb2014a07f" Alias="sliderEditorCulture" Level="2">
  <Info>
    <Name>Slider editor (Culture)</Name>
    <Icon>icon-navigation-horizontal color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editors</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>14b8c4c0-2a91-4135-aba7-24e136168209</Key>
      <Name>Slider culture</Name>
      <Alias>sliderCulture</Alias>
      <Definition>af84c6f8-a97f-4389-ac6c-b028006d967b</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="contentCulture">Content culture</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>37e0172a-247b-4944-8d0c-9c776868142c</Key>
      <Caption>Content culture</Caption>
      <Alias>contentCulture</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>