<?xml version="1.0" encoding="utf-8"?>
<DataType Key="88e8a052-30ee-4d44-a507-59f2cdfc769c" Alias="Date Time Picker (with time zone)" Level="1">
  <Info>
    <Name>Date Time Picker (with time zone)</Name>
    <EditorAlias>Umbraco.DateTimeWithTimeZone</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.DateTimeWithTimeZonePicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "timeFormat": "HH:mm",
  "timeZones": {
    "mode": "all"
  }
}]]></Config>
</DataType>