<?xml version="1.0" encoding="utf-8"?>
<DataType Key="af84c6f8-a97f-4389-ac6c-b028006d967b" Alias="Slider" Level="1">
  <Info>
    <Name>Slider</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Slider</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "enableRange": false,
  "initVal1": 0,
  "initVal2": 0,
  "maxVal": 10,
  "minVal": 0,
  "step": 1
}]]></Config>
</DataType>