<?xml version="1.0" encoding="utf-8"?>
<Content Key="8dc48c01-d9c6-4c4e-8338-5b8a41f84cbd" Alias="Page with culture 1" Level="2">
  <Info>
    <Parent Key="d0351e46-e0bf-4eaa-ad2b-57a45451097e">Site with culture</Parent>
    <Path>/SiteWithCulture/PageWithCulture1</Path>
    <Trashed>false</Trashed>
    <ContentType>defaultCulture</ContentType>
    <CreateDate>2023-05-16T11:57:27</CreateDate>
    <NodeName Default="Page with culture 1">
      <Name Culture="en-US">Page with culture 1</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <article>
      <Value><![CDATA[]]></Value>
    </article>
    <articleCulture>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </articleCulture>
    <audio>
      <Value><![CDATA[]]></Value>
    </audio>
    <audioCulture>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </audioCulture>
    <blockList>
      <Value><![CDATA[]]></Value>
    </blockList>
    <blockListCulture>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </blockListCulture>
    <checkboxList>
      <Value><![CDATA[]]></Value>
    </checkboxList>
    <checkboxListCulture>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </checkboxListCulture>
    <colorPicker>
      <Value><![CDATA[]]></Value>
    </colorPicker>
    <colorPickerCulture>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </colorPickerCulture>
    <contentPicker>
      <Value><![CDATA[]]></Value>
    </contentPicker>
    <contentPickerCulture>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </contentPickerCulture>
    <datePicker>
      <Value><![CDATA[]]></Value>
    </datePicker>
    <datePickerCulture>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </datePickerCulture>
    <datePickerWithTime>
      <Value><![CDATA[]]></Value>
    </datePickerWithTime>
    <datePickerWithTimeCulture>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </datePickerWithTimeCulture>
    <decimal>
      <Value><![CDATA[]]></Value>
    </decimal>
    <decimalCulture>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </decimalCulture>
    <dropdown>
      <Value><![CDATA[]]></Value>
    </dropdown>
    <dropdownCulture>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </dropdownCulture>
    <emailAddress>
      <Value><![CDATA[]]></Value>
    </emailAddress>
    <emailAddressCulture>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </emailAddressCulture>
    <eyeDropperColorPicker>
      <Value><![CDATA[]]></Value>
    </eyeDropperColorPicker>
    <eyeDropperColorPickerCulture>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </eyeDropperColorPickerCulture>
    <file>
      <Value><![CDATA[]]></Value>
    </file>
    <fileCulture>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </fileCulture>
    <imageCropper>
      <Value><![CDATA[]]></Value>
    </imageCropper>
    <imageCropperCulture>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </imageCropperCulture>
    <imageMediaPicker>
      <Value><![CDATA[[]]]></Value>
    </imageMediaPicker>
    <imageMediaPickerCulture>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </imageMediaPickerCulture>
    <markdown>
      <Value><![CDATA[]]></Value>
    </markdown>
    <markdownCulture>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </markdownCulture>
    <mediaPicker>
      <Value><![CDATA[[]]]></Value>
    </mediaPicker>
    <mediaPickerCulture>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </mediaPickerCulture>
    <mediaPickerLegacy>
      <Value><![CDATA[]]></Value>
    </mediaPickerLegacy>
    <mediaPickerLegacyCulture>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </mediaPickerLegacyCulture>
    <memberGroupPicker>
      <Value><![CDATA[]]></Value>
    </memberGroupPicker>
    <memberGroupPickerCulture>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </memberGroupPickerCulture>
    <memberPicker>
      <Value><![CDATA[]]></Value>
    </memberPicker>
    <memberPickerCulture>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </memberPickerCulture>
    <multinodeTreepicker>
      <Value><![CDATA[]]></Value>
    </multinodeTreepicker>
    <multinodeTreepickerCulture>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </multinodeTreepickerCulture>
    <multipleImageMediaPicker>
      <Value><![CDATA[[]]]></Value>
    </multipleImageMediaPicker>
    <multipleImageMediaPickerCulture>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </multipleImageMediaPickerCulture>
    <multipleMediaPicker>
      <Value><![CDATA[[]]]></Value>
    </multipleMediaPicker>
    <multipleMediaPickerCulture>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </multipleMediaPickerCulture>
    <multipleMediaPickerLegacy>
      <Value><![CDATA[]]></Value>
    </multipleMediaPickerLegacy>
    <multipleMediaPickerLegacyCulture>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </multipleMediaPickerLegacyCulture>
    <multiUrlPicker>
      <Value><![CDATA[]]></Value>
    </multiUrlPicker>
    <multiUrlPickerCulture>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </multiUrlPickerCulture>
    <numeric>
      <Value><![CDATA[]]></Value>
    </numeric>
    <numericCulture>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </numericCulture>
    <radiobox>
      <Value><![CDATA[]]></Value>
    </radiobox>
    <radioboxCulture>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </radioboxCulture>
    <repeatableTextstrings>
      <Value><![CDATA[]]></Value>
    </repeatableTextstrings>
    <repeatableTextstringsCulture>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </repeatableTextstringsCulture>
    <richtext>
      <Value><![CDATA[]]></Value>
    </richtext>
    <richtextCulture>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </richtextCulture>
    <slider>
      <Value><![CDATA[0]]></Value>
    </slider>
    <sliderCulture>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </sliderCulture>
    <svg>
      <Value><![CDATA[]]></Value>
    </svg>
    <svgCulture>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </svgCulture>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <tagsCulture>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </tagsCulture>
    <textarea>
      <Value><![CDATA[]]></Value>
    </textarea>
    <textareaCulture>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </textareaCulture>
    <textstring>
      <Value><![CDATA[]]></Value>
    </textstring>
    <textstringCulture>
      <Value Culture="en-US"><![CDATA[culture string]]></Value>
    </textstringCulture>
    <trueOrFalse>
      <Value><![CDATA[0]]></Value>
    </trueOrFalse>
    <trueOrFalseCulture>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </trueOrFalseCulture>
    <userPicker>
      <Value><![CDATA[]]></Value>
    </userPicker>
    <userPickerCulture>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </userPickerCulture>
    <video>
      <Value><![CDATA[]]></Value>
    </video>
    <videoCulture>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </videoCulture>
  </Properties>
</Content>