<?xml version="1.0" encoding="utf-8"?>
<Content Key="eadd5be4-456c-4a7d-8c4a-2f7ead9c8ecf" Alias="Site 1" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Site1</Path>
    <Trashed>false</Trashed>
    <ContentType>site</ContentType>
    <CreateDate>2023-03-24T17:02:43</CreateDate>
    <NodeName Default="Site 1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>