<?xml version="1.0" encoding="utf-8"?>
<Content Key="f894ebb3-7353-4439-b84c-04ed7d283202" Alias="UnpublishedSite" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/UnpublishedSite</Path>
    <Trashed>false</Trashed>
    <ContentType>site</ContentType>
    <CreateDate>2023-04-12T14:17:44</CreateDate>
    <NodeName Default="UnpublishedSite" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>