<?xml version="1.0" encoding="utf-8"?>
<Media Key="da949b32-5c1e-46a1-a882-e2bb493c6d68" Alias="Authors" Level="2">
  <Info>
    <Parent Key="9bae5a55-05d4-46a9-b2b3-f1ddb9a2bc38">Sample Images</Parent>
    <Path>/SampleImages/Authors</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-15T22:58:38</CreateDate>
    <NodeName Default="Authors" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/gsnjjwq4/authors.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>