<?xml version="1.0" encoding="utf-8"?>
<Media Key="7d96bc75-fea8-4f66-aaf5-50f45748cab4" Alias="Candid Contributions" Level="2">
  <Info>
    <Parent Key="9bae5a55-05d4-46a9-b2b3-f1ddb9a2bc38">Sample Images</Parent>
    <Path>/SampleImages/CandidContributions</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T06:31:07</CreateDate>
    <NodeName Default="Candid Contributions" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/oo4jm5ni/candid-contributions.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>