<?xml version="1.0" encoding="utf-8"?>
<Media Key="3c6c415c-35a0-4629-891e-683506250c31" Alias="Chairs lamps" Level="2">
  <Info>
    <Parent Key="9bae5a55-05d4-46a9-b2b3-f1ddb9a2bc38">Sample Images</Parent>
    <Path>/SampleImages/ChairsLamps</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-10-09T23:24:19</CreateDate>
    <NodeName Default="Chairs lamps" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[A room filled with chairs and some lamps]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ljahypfa/chairs-lamps.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>