<?xml version="1.0" encoding="utf-8"?>
<Media Key="59ce6257-8e6b-4ffd-98fe-f3321b438d2b" Alias="Diary" Level="2">
  <Info>
    <Parent Key="9bae5a55-05d4-46a9-b2b3-f1ddb9a2bc38">Sample Images</Parent>
    <Path>/SampleImages/Diary</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-15T22:58:39</CreateDate>
    <NodeName Default="Diary" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/kfrm2wll/diary.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>