<?xml version="1.0" encoding="utf-8"?>
<Media Key="8ac2c7bc-0acb-488e-a4e6-24d9ea5bdff7" Alias="Friendly chair" Level="2">
  <Info>
    <Parent Key="9bae5a55-05d4-46a9-b2b3-f1ddb9a2bc38">Sample Images</Parent>
    <Path>/SampleImages/FriendlyChair</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-10-09T23:24:23</CreateDate>
    <NodeName Default="Friendly chair" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "crops": null,
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "/media/xldnfcwl/friendly-chair.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>