<?xml version="1.0" encoding="utf-8"?>
<Media Key="d6e58148-8678-4bc4-8cdb-5366ae75065f" Alias="Mastodon" Level="2">
  <Info>
    <Parent Key="71332aa7-8bea-44f1-9aa6-00de961b66e8">Social Icons</Parent>
    <Path>/SocialIcons/Mastodon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-12-14T15:08:35</CreateDate>
    <NodeName Default="Mastodon" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pgaplvty/mastodon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>