<?xml version="1.0" encoding="utf-8"?>
<Media Key="fbdf1674-1658-4449-8029-0b11bf7f20ab" Alias="Paypal" Level="2">
  <Info>
    <Parent Key="71332aa7-8bea-44f1-9aa6-00de961b66e8">Social Icons</Parent>
    <Path>/SocialIcons/Paypal</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-07-29T11:00:18</CreateDate>
    <NodeName Default="Paypal" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/iuln540y/paypal.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>