<?xml version="1.0" encoding="utf-8"?>
<Media Key="cd0caf81-f450-451c-a24c-7e0f9924536c" Alias="Profile Pic 2023" Level="2">
  <Info>
    <Parent Key="aa3e5abd-75a9-4533-ada9-ed472219781e">Authors</Parent>
    <Path>/Authors/ProfilePic2023</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-15T23:20:39</CreateDate>
    <NodeName Default="Profile Pic 2023" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/q4xbztkq/profile-pic-2023.png",
  "focalPoint": {
    "left": 0.5365168539325843,
    "top": 0.3370786945471603
  }
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>