<?xml version="1.0" encoding="utf-8"?>
<Media Key="13e63ebb-2f82-4e65-84f0-e3b79241a971" Alias="Say cheese" Level="2">
  <Info>
    <Parent Key="9bae5a55-05d4-46a9-b2b3-f1ddb9a2bc38">Sample Images</Parent>
    <Path>/SampleImages/SayCheese</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-10-09T23:24:24</CreateDate>
    <NodeName Default="Say cheese" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "crops": null,
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "/media/xu5ome2c/say-cheese.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>