<?xml version="1.0" encoding="utf-8"?>
<Media Key="71332aa7-8bea-44f1-9aa6-00de961b66e8" Alias="Social Icons" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SocialIcons</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-07-29T11:02:30</CreateDate>
    <NodeName Default="Social Icons" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>