<?xml version="1.0" encoding="utf-8"?>
<Media Key="b3b984a8-3eb4-42f4-9cc8-32506d0e6e60" Alias="Square Github" Level="2">
  <Info>
    <Parent Key="71332aa7-8bea-44f1-9aa6-00de961b66e8">Social Icons</Parent>
    <Path>/SocialIcons/SquareGithub</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-07-29T10:59:51</CreateDate>
    <NodeName Default="Square Github" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tgcltm3u/square-github.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>