<?xml version="1.0" encoding="utf-8"?>
<Media Key="c08eb6e5-fbb7-4e57-b9b3-d35a9b088069" Alias="Twitter" Level="2">
  <Info>
    <Parent Key="71332aa7-8bea-44f1-9aa6-00de961b66e8">Social Icons</Parent>
    <Path>/SocialIcons/Twitter</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-07-29T10:59:17</CreateDate>
    <NodeName Default="Twitter" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0s1i3qfx/twitter.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>