<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ab28f7b5-eb97-4f79-94ee-0af66fb44128" Alias="articleList" Level="2">
  <Info>
    <Name>Article List</Name>
    <Icon>icon-thumbnail-list color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>c0808dd3-8133-4e4b-8ce8-e2bea84a96a4</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="b1c27e8c-1692-42ad-9701-c87f12716ee7">contentControls</Composition>
      <Composition Key="d690c8cb-2622-43b9-8cf9-fdca7811ee4d">headerControls</Composition>
      <Composition Key="a0eec50c-54ce-47d3-97f1-c01843887567">listPageSettings</Composition>
      <Composition Key="ce869f5c-d410-4a3e-8572-9593e49101c6">mainImageControls</Composition>
      <Composition Key="9090575e-290c-4585-91a4-b72ec30ff41f">sEOControls</Composition>
      <Composition Key="7cebdc47-a965-49ec-ab42-bc887d6b1119">visibilityControls</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="0f63b49a-5423-46bd-91fa-0e78bbd2f6d6" SortOrder="0">article</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>