<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a95360e8-ff04-40b1-8f46-7aa4b5983096" Alias="home" Level="2">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="b1c27e8c-1692-42ad-9701-c87f12716ee7">contentControls</Composition>
      <Composition Key="8e37a6b6-fe2a-43b0-adbc-e41822d005c4">footerControls</Composition>
      <Composition Key="d690c8cb-2622-43b9-8cf9-fdca7811ee4d">headerControls</Composition>
      <Composition Key="ce869f5c-d410-4a3e-8572-9593e49101c6">mainImageControls</Composition>
      <Composition Key="9090575e-290c-4585-91a4-b72ec30ff41f">sEOControls</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="b871f83c-2395-4894-be0f-5422c1a71e48" SortOrder="0">content</ContentType>
    <ContentType Key="e667d852-1e35-41d1-b0eb-46db0ec2342c" SortOrder="1">contact</ContentType>
    <ContentType Key="ab28f7b5-eb97-4f79-94ee-0af66fb44128" SortOrder="2">articleList</ContentType>
    <ContentType Key="19fbebfd-b27f-42c5-bdb8-8686c45f40cc" SortOrder="3">search</ContentType>
    <ContentType Key="9db112c5-c2ea-441d-8bd4-6daf522aa2b6" SortOrder="4">error</ContentType>
    <ContentType Key="ac6ebe34-fc2b-4ee0-9b26-e7a22adbe591" SortOrder="5">xMLSitemap</ContentType>
    <ContentType Key="b0287f57-fb53-4b80-9d0b-eb7c8b277a5a" SortOrder="6">authorList</ContentType>
    <ContentType Key="539869ea-4f0d-4c3b-80b1-aaa80a1c16e6" SortOrder="7">categoryList</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>