<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="eef34ceb-ddf6-4894-b1ac-f96c8c05d3d2" Alias="videoRowSettings" Level="3">
  <Info>
    <Name>Video Row Settings</Name>
    <Icon>icon-settings color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Setting+Models</Folder>
    <Compositions>
      <Composition Key="02180d87-1eea-45d9-93a6-1e38f2ee0165">hideProperty</Composition>
      <Composition Key="2e1a4fd4-b695-4033-8626-1a45b54e04cb">spacingProperties</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>