<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7cebdc47-a965-49ec-ab42-bc887d6b1119" Alias="visibilityControls" Level="2">
  <Info>
    <Name>Visibility Controls</Name>
    <Icon>icon-settings color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>35ae0d0c-361d-4a53-835c-72b7e59a166e</Key>
      <Name>Hide From Top Navigation</Name>
      <Alias>hideFromTopNavigation</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="visibility">Visibility</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>09404570-096b-428b-90cb-6ac55bc47fd2</Key>
      <Name>Hide From XML Sitemap</Name>
      <Alias>hideFromXMLSitemap</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Tick this if you want to hide this page from the XML sitemap]]></Description>
      <SortOrder>15</SortOrder>
      <Tab Alias="visibility">Visibility</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>08b7cc39-05d0-4b97-896d-68c74c912dea</Key>
      <Name>Hide From Search</Name>
      <Alias>umbracoNaviHide</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Tick this box if you want to hide this page from the navigation and from search results]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="visibility">Visibility</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>047f36ae-a8ca-43c0-a386-372bfa7144bd</Key>
      <Caption>Visibility</Caption>
      <Alias>visibility</Alias>
      <Type>Tab</Type>
      <SortOrder>30</SortOrder>
    </Tab>
  </Tabs>
</ContentType>