<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b5922818-d8d8-43df-88ed-4582a24c0fa6" Alias="[BlockList] Main Content" Level="1">
  <Info>
    <Name>[BlockList] Main Content</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "backgroundColor": "#1b264f",
      "iconColor": "#ffffff",
      "contentElementTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "settingsElementTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "label": "Rich Text: {{ content | ncRichText | truncate:true:50 }} {{$settings.hide == \u00271\u0027 ? \u0027[HIDDEN]\u0027 : \u0027\u0027}}",
      "editorSize": "large",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": "#1b264f",
      "iconColor": "#ffffff",
      "contentElementTypeKey": "e0df4794-063a-4450-8f4f-c615a5d902e2",
      "settingsElementTypeKey": "fed88ec5-c150-42af-b444-1f9ac5a100ba",
      "label": "Image: {{ caption }} {{$settings.hide == \u00271\u0027 ? \u0027[HIDDEN]\u0027 : \u0027\u0027}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": "#1b264f",
      "iconColor": "#ffffff",
      "contentElementTypeKey": "f43c8349-0801-44b8-9113-9f7c62cd44fe",
      "settingsElementTypeKey": "eef34ceb-ddf6-4894-b1ac-f96c8c05d3d2",
      "label": "Video: {{ caption != \u0027\u0027 ? caption : videoUrl }} {{$settings.hide == \u00271\u0027 ? \u0027[HIDDEN]\u0027 : \u0027\u0027}}",
      "editorSize": "large",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": "#1b264f",
      "iconColor": "#ffffff",
      "contentElementTypeKey": "f37c2c28-c8ab-48cd-ac07-b13e38bd900f",
      "settingsElementTypeKey": "93638715-f76c-4a11-86b1-6a9d66504901",
      "label": "Code Snippet: {{ title }}",
      "editorSize": "large",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": "#1b264f",
      "iconColor": "#ffffff",
      "contentElementTypeKey": "1c43fe2d-4a9a-4336-923f-9d0214950d48",
      "settingsElementTypeKey": "378fde96-51b6-4506-93e3-ec3038e636bb",
      "label": "Image Carousel",
      "editorSize": "large",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": "#1b264f",
      "iconColor": "#ffffff",
      "contentElementTypeKey": "60085a63-b77b-4509-9df4-bcb75db2755f",
      "settingsElementTypeKey": "c56fb5b8-0b89-4206-847e-a6fecd865b84",
      "label": "{{ articleList | ncNodeName }} Articles",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {}
}]]></Config>
</DataType>