<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f8d7b987-745c-471f-8f34-a47f00838f06" Alias="[BlockList] Icon List" Level="1">
  <Info>
    <Name>[BlockList] Icon List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "backgroundColor": "#1b264f",
      "iconColor": "#ffffff",
      "contentElementTypeKey": "17db13ba-bbd9-4a44-b28f-986301156754",
      "settingsElementTypeKey": "84e89805-5a53-4dcf-930d-fd87c48572dd",
      "label": "{{ link[0].name }}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "useInlineEditingAsDefault": true,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {}
}]]></Config>
</DataType>