<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a7590e7a-cad6-42e1-8ae9-106c717206fd" Alias="[Dropdown] Spacing" Level="1">
  <Info>
    <Name>[Dropdown] Spacing</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Unset",
    "0",
    "1",
    "2",
    "3",
    "4",
    "5"
  ],
  "multiple": false,
  "umbMigrationV14": "2024-11-20T18:25:49.7705322\u002B00:00"
}]]></Config>
</DataType>