<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7b21df8f-973a-4e2d-8ee1-a77924d9e211" Alias="[MediaPicker] SVG Image" Level="1">
  <Info>
    <Name>[MediaPicker] SVG Image</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "enableLocalFocalPoint": false,
  "filter": "c4b1efcf-a9d5-41c4-9621-e9d273b52a9c",
  "ignoreUserStartNodes": false,
  "multiple": false,
  "umbMigrationV14": "2024-11-20T18:25:49.7706294\u002B00:00",
  "validationLimit": {}
}]]></Config>
</DataType>