<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2d350d21-51dd-4c36-8eee-18170985ce91" Alias="[MultiUrlPicker] Single Url Picker" Level="1">
  <Info>
    <Name>[MultiUrlPicker] Single Url Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultiUrlPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "hideAnchor": false,
  "ignoreUserStartNodes": false,
  "maxNumber": 1,
  "minNumber": 0,
  "overlaySize": "small"
}]]></Config>
</DataType>