<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9499b829-3e0f-4f0d-af46-a53f2749a5af" Alias="[Slider] Spacing" Level="1">
  <Info>
    <Name>[Slider] Spacing</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Slider</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "enableRange": false,
  "initVal1": -1,
  "initVal2": 0,
  "maxVal": 5,
  "minVal": -1,
  "step": 1
}]]></Config>
</DataType>