<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0225af17-b302-49cb-9176-b9f35cab9c17" Alias="Approved Color" Level="1">
  <Info>
    <Name>Approved Color</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "000000",
      "label": "000000"
    },
    {
      "value": "f44336",
      "label": "f44336"
    },
    {
      "value": "bf9000",
      "label": "bf9000"
    }
  ],
  "umbMigrationV14": "2024-06-11T15:54:19.4491889\u002B02:00",
  "useLabel": false
}]]></Config>
</DataType>