<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4fcff231-fd84-4f5f-bb5a-f0b6ea513e5f" Alias="Block grid" Level="1">
  <Info>
    <Name>Block grid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "key": "8b351c56-13a0-49ca-8d22-1ab02a9221e0",
      "name": "Demo Blocks"
    }
  ],
  "blocks": [
    {
      "columnSpanOptions": [],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": true,
      "allowInAreas": true,
      "areas": [],
      "contentElementTypeKey": "6bd293a1-857e-4b89-86e2-3ef1c2b1236e",
      "view": "~/App_Plugins/Umbraco.BlockGridEditor.DefaultCustomViews/umbBlockGridDemoHeadlineBlock.html",
      "label": "Headline ({{headline | truncate:true:36}})",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "8b351c56-13a0-49ca-8d22-1ab02a9221e0"
    },
    {
      "columnSpanOptions": [],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": true,
      "allowInAreas": true,
      "areas": [],
      "contentElementTypeKey": "441deaf4-96d6-4080-9e46-6530a72538e0",
      "view": "~/App_Plugins/Umbraco.BlockGridEditor.DefaultCustomViews/umbBlockGridDemoImageBlock.html",
      "label": "Image",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "8b351c56-13a0-49ca-8d22-1ab02a9221e0"
    },
    {
      "columnSpanOptions": [],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": true,
      "allowInAreas": true,
      "areas": [],
      "contentElementTypeKey": "2df2c249-b669-44ae-998b-0ded1d4da75a",
      "view": "~/App_Plugins/Umbraco.BlockGridEditor.DefaultCustomViews/umbBlockGridDemoRichTextBlock.html",
      "label": "Rich Text  ({{richText | ncRichText | truncate:true:36}})",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "8b351c56-13a0-49ca-8d22-1ab02a9221e0"
    },
    {
      "columnSpanOptions": [],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": true,
      "allowInAreas": false,
      "areas": [
        {
          "key": "e7d8ed5e-5e67-40c9-b61e-e31062fd966a",
          "alias": "left",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        },
        {
          "key": "e2684f0a-bfc4-4d65-866a-354c4e5b6fe3",
          "alias": "right",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "contentElementTypeKey": "23f9393f-533f-4729-9254-e271424da17f",
      "view": "~/App_Plugins/Umbraco.BlockGridEditor.DefaultCustomViews/umbBlockGridDemoTwoColumnLayoutBlock.html",
      "label": "Two Column Layout",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "8b351c56-13a0-49ca-8d22-1ab02a9221e0"
    }
  ],
  "useLiveEditing": false,
  "validationLimit": {}
}]]></Config>
</DataType>