<?xml version="1.0" encoding="utf-8"?>
<Content Key="2dd75df9-46ac-4496-bf7b-de6ca4c1c539" Alias="Collection of pages" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CollectionOfPages</Path>
    <Trashed>false</Trashed>
    <ContentType>default</ContentType>
    <CreateDate>2022-06-04T16:44:01</CreateDate>
    <NodeName Default="Collection of pages" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blockList>
      <Value><![CDATA[]]></Value>
    </blockList>
  </Properties>
</Content>