<?xml version="1.0" encoding="utf-8"?>
<Media Key="01164aab-e1f7-4628-9e20-870b49951482" Alias="My media" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MyMedia</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-04-17T20:16:05</CreateDate>
    <NodeName Default="My media" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>