<?xml version="1.0" encoding="utf-8"?>
<Content Key="a63da8f0-b8d5-42bc-9025-33ed66849c92" Alias="Child 3" Level="2">
  <Info>
    <Parent Key="2dd75df9-46ac-4496-bf7b-de6ca4c1c539">Collection of pages</Parent>
    <Path>/CollectionOfPages/Child3</Path>
    <Trashed>false</Trashed>
    <ContentType>default</ContentType>
    <CreateDate>2022-06-04T16:44:22</CreateDate>
    <NodeName Default="Child 3" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d0510868-3ca4-4c2d-b527-1100caaedc14">Default</Template>
  </Info>
  <Properties>
    <blockList>
      <Value><![CDATA[]]></Value>
    </blockList>
  </Properties>
</Content>