<?xml version="1.0" encoding="utf-8"?>
<Content Key="a08c786d-161f-49f8-82d8-e623c44d5668" Alias="Child 1" Level="2">
  <Info>
    <Parent Key="2dd75df9-46ac-4496-bf7b-de6ca4c1c539">Collection of pages</Parent>
    <Path>/CollectionOfPages/Child1</Path>
    <Trashed>false</Trashed>
    <ContentType>default</ContentType>
    <CreateDate>2022-06-04T16:44:08</CreateDate>
    <NodeName Default="Child 1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d0510868-3ca4-4c2d-b527-1100caaedc14">Default</Template>
  </Info>
  <Properties>
    <blockList>
      <Value><![CDATA[]]></Value>
    </blockList>
  </Properties>
</Content>