<?xml version="1.0" encoding="utf-8"?>
<Content Key="70b87529-93fb-4f8e-a1c9-a7add2d1b5ca" Alias="Page 1" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Page1</Path>
    <Trashed>false</Trashed>
    <ContentType>default</ContentType>
    <CreateDate>2022-06-04T16:43:35</CreateDate>
    <NodeName Default="Page 1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d0510868-3ca4-4c2d-b527-1100caaedc14">Default</Template>
  </Info>
  <Properties>
    <blockList>
      <Value><![CDATA[]]></Value>
    </blockList>
  </Properties>
</Content>