<?xml version="1.0" encoding="utf-8"?>
<Content Key="704a66de-b213-44fe-815a-f988c0707bbf" Alias="About" Level="2">
  <Info>
    <Parent Key="dcf18a51-6919-4cf8-89d1-36b94ce4d963">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>content</ContentType>
    <CreateDate>2021-10-09T23:24:16</CreateDate>
    <NodeName Default="About" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contentRows>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "key": "456053f4-5f83-4568-bdb7-85c3cb3e1e4e",
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cp\u003EThe Clean Starter Kit for Umbraco uses the Start Bootstrap Theme Clean Blog which is built using Bootstrap 5. It has been implemented in Umbraco as a Starter Kit by Paul Seal who has the blog \u003Ca rel=\u0022noopener\u0022 href=\u0022https://codeshare.co.uk\u0022 target=\u0022_blank\u0022\u003Ecodeshare.co.uk\u003C/a\u003E and works for the Umbraco Gold Partner \u003Ca rel=\u0022noopener\u0022 href=\u0022https://www.clerkswell.com\u0022 target=\u0022_blank\u0022\u003EClerksWell\u003C/a\u003E.\u003C/p\u003E\n\u003Cp\u003EThe idea of this starter kit is to provide you with a clean and simple website. It is ideally aimed at people who are new to Umbraco so they can install the starter kit, get used to Umbraco and then build upon the kit with their own requirements.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "e0df4794-063a-4450-8f4f-c615a5d902e2",
      "key": "51df637c-a085-4224-a60d-3163fb59091a",
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "6041d253-db55-43e0-ad07-5e35f1bca9ea",
              "mediaKey": "8ac2c7bc-0acb-488e-a4e6-24d9ea5bdff7",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Umbraco, the friendly CMS"
        }
      ]
    },
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "key": "222d1acd-8d1d-4bd5-af79-d9c1fe0ded44",
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cp\u003EWith this starter kit you should be able to quickly and easily set up a new website and share your content with others. The aim is for you to start using Umbraco and fall in love with it like I did, as a user or as a developer, you will find out how enjoyable it is to use.\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "key": "38c5ec59-7c99-48d5-9582-509d8c4094a6",
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "fed88ec5-c150-42af-b444-1f9ac5a100ba",
      "key": "5934ccce-cf67-4ab9-8bb4-da3f413ee79c",
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "key": "7b469d55-024b-4655-b45d-02f4b3d39f74",
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "456053f4-5f83-4568-bdb7-85c3cb3e1e4e",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "51df637c-a085-4224-a60d-3163fb59091a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "222d1acd-8d1d-4bd5-af79-d9c1fe0ded44",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "456053f4-5f83-4568-bdb7-85c3cb3e1e4e",
        "settingsKey": "38c5ec59-7c99-48d5-9582-509d8c4094a6"
      },
      {
        "contentKey": "51df637c-a085-4224-a60d-3163fb59091a",
        "settingsKey": "5934ccce-cf67-4ab9-8bb4-da3f413ee79c"
      },
      {
        "contentKey": "222d1acd-8d1d-4bd5-af79-d9c1fe0ded44",
        "settingsKey": "7b469d55-024b-4655-b45d-02f4b3d39f74"
      }
    ]
  }
}]]></Value>
    </contentRows>
    <hideFromTopNavigation>
      <Value><![CDATA[]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "bcdf0afe-6d57-4c93-bcb1-2ce7665153f7",
    "mediaKey": "48239f24-1450-49da-9964-934f512dde48",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[[]]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <subtitle>
      <Value><![CDATA[All about this starter kit]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>