<?xml version="1.0" encoding="utf-8"?>
<Content Key="8b97891b-bb88-4c50-827d-a458c3c2b7bb" Alias="Authors" Level="2">
  <Info>
    <Parent Key="dcf18a51-6919-4cf8-89d1-36b94ce4d963">Home</Parent>
    <Path>/Home/Authors</Path>
    <Trashed>false</Trashed>
    <ContentType>authorList</ContentType>
    <CreateDate>2023-08-15T22:58:50</CreateDate>
    <NodeName Default="Authors" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contentRows>
      <Value><![CDATA[]]></Value>
    </contentRows>
    <hideFromTopNavigation>
      <Value><![CDATA[1]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "adbb74ef-8954-4a9c-a685-5124e2962180",
    "mediaKey": "da949b32-5c1e-46a1-a882-e2bb493c6d68"
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>