<?xml version="1.0" encoding="utf-8"?>
<Content Key="14e76673-9b71-4259-aac3-fc9507eb3bdb" Alias="Contact" Level="2">
  <Info>
    <Parent Key="dcf18a51-6919-4cf8-89d1-36b94ce4d963">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contact</ContentType>
    <CreateDate>2021-10-09T23:24:16</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <errorMessage>
      <Value><![CDATA[<h2>Error</h2>
<p>Sorry there was a problem with submitting the form. Please try again.</p>]]></Value>
    </errorMessage>
    <hideFromTopNavigation>
      <Value><![CDATA[]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <instructionMessage>
      <Value><![CDATA[<p>Want to get in touch? Fill out the form below to send me a message and I will get back to you as soon as possible!</p>]]></Value>
    </instructionMessage>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "017767f0-6798-4643-9fd1-83bbd62aca23",
    "mediaKey": "5598b628-b390-4532-8bb5-dab06089e9d7",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[[]]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <subtitle>
      <Value><![CDATA[Get in touch]]></Value>
    </subtitle>
    <successMessage>
      <Value><![CDATA[<h2>Thank you</h2>
<p>Thanks for your email. We will be in touch soon.</p>]]></Value>
    </successMessage>
    <title>
      <Value><![CDATA[Contact Us]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>