<?xml version="1.0" encoding="utf-8"?>
<Content Key="a2807f32-ecd8-4110-9167-7dafeecd15c9" Alias="Features" Level="2">
  <Info>
    <Parent Key="dcf18a51-6919-4cf8-89d1-36b94ce4d963">Home</Parent>
    <Path>/Home/Features</Path>
    <Trashed>false</Trashed>
    <ContentType>content</ContentType>
    <CreateDate>2023-08-06T06:01:20</CreateDate>
    <NodeName Default="Features" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contentRows>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "key": "b3ce1b78-8251-4456-b605-1eda643e6142",
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Ch2\u003ERich Text Row\u003C/h2\u003E\n\u003Cp\u003EThere is a simple rich text row for writing your usual formatted content in a WYSIWIG style with the usual settings including but not limited to:\u00A0\u003C/p\u003E\n\u003Cp\u003E\u003Cstrong\u003EBold\u003C/strong\u003E\u003C/p\u003E\n\u003Cp\u003E\u003Cem\u003EItalic\u003C/em\u003E\u003C/p\u003E\n\u003Cp style=\u0022text-align: left;\u0022\u003ELeft align\u003C/p\u003E\n\u003Cp style=\u0022text-align: right;\u0022\u003ERight align\u003C/p\u003E\n\u003Cul\u003E\n\u003Cli\u003EBulleted List\u003C/li\u003E\n\u003C/ul\u003E\n\u003Col\u003E\n\u003Cli\u003EOrdered List\u003C/li\u003E\n\u003C/ol\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "e0df4794-063a-4450-8f4f-c615a5d902e2",
      "key": "aabf1c82-a707-4b23-a905-c6c41d7e8db0",
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "b971579f-5dd9-46f4-ad32-1d4ea6f04127",
              "mediaKey": "bbf2800f-1cc5-4ea9-8d2e-b33ff1d5efbe",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Image Row Example"
        }
      ]
    },
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "key": "f44e6a28-c00e-4d6b-ab10-7902d5785289",
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Ch2\u003EImage Row\u003C/h2\u003E\n\u003Cp\u003EYou can use the image row to render a full width image.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "f43c8349-0801-44b8-9113-9f7c62cd44fe",
      "key": "580568ed-a49a-4212-8607-366cc83bafc0",
      "values": [
        {
          "alias": "videoUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.youtube.com/watch?v=Dn2tI1--LOs"
        },
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "What\u0027s next in C# - Mads Torgersen @ Umbraco Codegarden 2022"
        }
      ]
    },
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "key": "0a384113-fbcf-4205-b15c-da6a6bfd6b8c",
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Ch2\u003EVideo Row\u003C/h2\u003E\n\u003Cp\u003EThis lets you embed a YouTube video by just entering the normal URL of the video, and it just renders the preview image of it at first. Then when you click on it, it loads it in as the iframe, which is better for the end user as it doesn\u0027t download all of the YouTube assets until it is needed.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "key": "d5c55fef-1cf4-4fa2-a675-02f193dcbf0c",
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Ch2\u003ECode Snippet Row\u003C/h2\u003E\n\u003Cp\u003EThere is a code snippet row to enable you to easily share code snippets in your website.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "f37c2c28-c8ab-48cd-ac07-b13e38bd900f",
      "key": "2bb90c71-8d9a-4e56-9458-ab5bde2d0f58",
      "values": [
        {
          "alias": "code",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "@inherits UmbracoViewPage\u003CBlockListItem\u003E\r\n@using Umbraco.Cms.Core.Models.Blocks\r\n\r\n@{\r\n    var row = Model.Content as CodeSnippetRow;\r\n    var settings = Model.Settings as CodeSnippetRowSettings;\r\n    if (settings?.Hide ?? false) { return; }\r\n\r\n    SmidgeHelper.RequiresJs(\u0022~/clean-assets/js/highlight.default.min.css\u0022);\r\n    SmidgeHelper.RequiresJs(\u0022~/clean-assets/js/highlight.min.js\u0022);\r\n}\r\n\r\n\u003Cdiv class=\u0022row clearfix\u0022\u003E\r\n    \u003Cdiv class=\u0022col-md-12 column\u0022\u003E\r\n        \u003Cpre\u003E\u003Ccode\u003E@row.Code\u003C/code\u003E\u003C/pre\u003E\r\n    \u003C/div\u003E\r\n\u003C/div\u003E"
        },
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Code from the codeSnippetRow.cshtml file"
        }
      ]
    },
    {
      "contentTypeKey": "1c43fe2d-4a9a-4336-923f-9d0214950d48",
      "key": "2d0b8422-de38-47d1-9243-8026ef503919",
      "values": [
        {
          "alias": "images",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "b8bcec6b-33bc-4a93-9819-d67f25190457",
              "mediaKey": "3c6c415c-35a0-4629-891e-683506250c31",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "d0435454-53ef-4013-b48e-2cefdfb467ff",
              "mediaKey": "5598b628-b390-4532-8bb5-dab06089e9d7",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "ef2c3ab6-60ae-4d8d-a489-29e27d285691",
              "mediaKey": "bbf2800f-1cc5-4ea9-8d2e-b33ff1d5efbe",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "971c3fbc-859b-4af4-97fa-035405aa377b",
              "mediaKey": "48239f24-1450-49da-9964-934f512dde48",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "b2fd4dd3-4cd5-4b1f-9b31-052bfff2deb0",
              "mediaKey": "167ee715-53ff-4a8b-ab50-7d630c8448fa",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "c3518f71-9713-4a60-ae04-a806e1c2e38d",
              "mediaKey": "b5279cc9-c438-4b14-a57a-72f97f5527f7",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "key": "5dbf69fb-f38a-4e3f-9163-7b153185a731",
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Ch2\u003EImage Carousel Row\u003C/h2\u003E\n\u003Cp\u003EYou can add a simple image carousel to a page by using the Image Carousel Row. In this row you have a multi image picker and you just choose the images you want to display.\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "key": "25575a79-7c7f-4376-a8ff-df3258a5d90f",
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "fed88ec5-c150-42af-b444-1f9ac5a100ba",
      "key": "70eaaac7-0459-4630-b07d-aba532e5b570",
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "key": "e56e12ba-f10c-436a-a2b2-e18619f520f8",
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "paddingTop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "paddingBottom",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "paddingLeft",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "paddingRight",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "marginTop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "5"
          ]
        },
        {
          "alias": "marginBottom",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "marginLeft",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "marginRight",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "eef34ceb-ddf6-4894-b1ac-f96c8c05d3d2",
      "key": "32870124-dd09-41b9-9a21-4cb70d726c8c",
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "key": "ce234679-0880-4d8b-832a-98320287616e",
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "paddingTop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "paddingBottom",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "paddingLeft",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "paddingRight",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "marginTop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "5"
          ]
        },
        {
          "alias": "marginBottom",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "marginLeft",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "marginRight",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "key": "a4432aa0-ee13-4cbe-bfd3-110e99749a2a",
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "paddingTop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "paddingBottom",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "paddingLeft",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "paddingRight",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "marginTop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "5"
          ]
        },
        {
          "alias": "marginBottom",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "marginLeft",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "marginRight",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "93638715-f76c-4a11-86b1-6a9d66504901",
      "key": "25a78444-6676-4628-ab13-c10cd4efcfa1",
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "paddingTop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "paddingBottom",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "paddingLeft",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "paddingRight",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "marginTop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "marginBottom",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "marginLeft",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "marginRight",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "378fde96-51b6-4506-93e3-ec3038e636bb",
      "key": "4ce89d32-4796-49a4-b2d6-3814c0247d8f",
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "paddingTop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "paddingRight",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "paddingBottom",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "paddingLeft",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "marginTop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "marginRight",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "marginBottom",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "marginLeft",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "key": "08acf634-61c5-4248-b39d-62ffc41662d7",
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "paddingTop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "paddingBottom",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "paddingLeft",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "paddingRight",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "marginTop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "5"
          ]
        },
        {
          "alias": "marginBottom",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "marginLeft",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "marginRight",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "b3ce1b78-8251-4456-b605-1eda643e6142",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "aabf1c82-a707-4b23-a905-c6c41d7e8db0",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f44e6a28-c00e-4d6b-ab10-7902d5785289",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "580568ed-a49a-4212-8607-366cc83bafc0",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "0a384113-fbcf-4205-b15c-da6a6bfd6b8c",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "d5c55fef-1cf4-4fa2-a675-02f193dcbf0c",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "2bb90c71-8d9a-4e56-9458-ab5bde2d0f58",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "2d0b8422-de38-47d1-9243-8026ef503919",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "5dbf69fb-f38a-4e3f-9163-7b153185a731",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "b3ce1b78-8251-4456-b605-1eda643e6142",
        "settingsKey": "25575a79-7c7f-4376-a8ff-df3258a5d90f"
      },
      {
        "contentKey": "f44e6a28-c00e-4d6b-ab10-7902d5785289",
        "settingsKey": "e56e12ba-f10c-436a-a2b2-e18619f520f8"
      },
      {
        "contentKey": "aabf1c82-a707-4b23-a905-c6c41d7e8db0",
        "settingsKey": "70eaaac7-0459-4630-b07d-aba532e5b570"
      },
      {
        "contentKey": "0a384113-fbcf-4205-b15c-da6a6bfd6b8c",
        "settingsKey": "ce234679-0880-4d8b-832a-98320287616e"
      },
      {
        "contentKey": "580568ed-a49a-4212-8607-366cc83bafc0",
        "settingsKey": "32870124-dd09-41b9-9a21-4cb70d726c8c"
      },
      {
        "contentKey": "d5c55fef-1cf4-4fa2-a675-02f193dcbf0c",
        "settingsKey": "a4432aa0-ee13-4cbe-bfd3-110e99749a2a"
      },
      {
        "contentKey": "2bb90c71-8d9a-4e56-9458-ab5bde2d0f58",
        "settingsKey": "25a78444-6676-4628-ab13-c10cd4efcfa1"
      },
      {
        "contentKey": "5dbf69fb-f38a-4e3f-9163-7b153185a731",
        "settingsKey": "08acf634-61c5-4248-b39d-62ffc41662d7"
      },
      {
        "contentKey": "2d0b8422-de38-47d1-9243-8026ef503919",
        "settingsKey": "4ce89d32-4796-49a4-b2d6-3814c0247d8f"
      }
    ]
  }
}]]></Value>
    </contentRows>
    <hideFromTopNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "ff822952-ec8e-4e73-9d34-f4b658791813",
    "mediaKey": "861ac5a3-aca5-4db8-85f2-a7ad05e0de30"
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <subtitle>
      <Value><![CDATA[in this starter kit]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>