<?xml version="1.0" encoding="utf-8"?>
<Content Key="942a1a23-a5e8-4703-b99f-90afcdcea6e4" Alias="Podcasts" Level="3">
  <Info>
    <Parent Key="5756eed9-c96d-42ee-96e9-bccc5d1dd655">Categories</Parent>
    <Path>/Home/Categories/Podcasts</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2023-08-30T00:05:28</CreateDate>
    <NodeName Default="Podcasts" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>