<?xml version="1.0" encoding="utf-8"?>
<Content Key="110a0c49-fab9-4a72-959c-c41d328c05b4" Alias="YouTube Tutorials" Level="3">
  <Info>
    <Parent Key="31523089-f648-4883-9087-ef9a0b83129f">Blog</Parent>
    <Path>/Home/Blog/YouTubeTutorials</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2023-08-04T06:53:45</CreateDate>
    <NodeName Default="YouTube Tutorials" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2023-08-04T06:00:00]]></Value>
    </articleDate>
    <author>
      <Value><![CDATA[umb://document/bd6a503ac2f247159e97fd2530c3e5b3]]></Value>
    </author>
    <categories>
      <Value><![CDATA[umb://document/107861f887054e43a6a417277a37f99c]]></Value>
    </categories>
    <contentRows>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "key": "ba1a4792-81c9-4bd0-b652-d226c7551532",
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cp\u003EThere are lots of free videos on YouTube for you to be able to learn more about Umbraco.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "key": "8b4af4c3-1636-4111-bc8c-3f71e1dee4ae",
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Ch2\u003E\u003Ca rel=\u0022noopener\u0022 href=\u0022https://www.youtube.com/@UmbracoLearningBase\u0022 target=\u0022_blank\u0022\u003EUmbraco Learning Base\u003C/a\u003E\u003C/h2\u003E\n\u003Cp\u003EUmbraco Learning Base is the official channel for the Happy Documentation and TV team at Umbraco HQ. On this channel, you can find videos and tutorials on how to get started working with the world\u0027s friendliest CMS Umbraco.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "f43c8349-0801-44b8-9113-9f7c62cd44fe",
      "key": "8f3328aa-d960-45a3-ad14-880e3f3d0305",
      "values": [
        {
          "alias": "videoUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.youtube.com/watch?v=Yu29dE-0OoI"
        },
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Getting Started with Umbraco"
        }
      ]
    },
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "key": "5da04a93-caec-4ed8-b087-0bdc31860bed",
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Ch2\u003E\u003Ca rel=\u0022noopener\u0022 href=\u0022https://www.youtube.com/@CodeSharePaul\u0022 target=\u0022_blank\u0022\u003EPaul Seal\u0027s YouTube Channel\u003C/a\u003E\u003C/h2\u003E\n\u003Cp\u003EThere are several playlists of videos in this channel for you to learn how to build a website with Umbraco. Paul takes you step by step through the process and shows you the errors and mistakes along the way so you can see how to fix them yourself.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "f43c8349-0801-44b8-9113-9f7c62cd44fe",
      "key": "5e64e454-31ac-4662-afc2-b078b397b2d8",
      "values": [
        {
          "alias": "videoUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.youtube.com/watch?v=qEZtjxDEK8g"
        },
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "How to build a website with Umbraco 10 - Part 1 - Installation"
        }
      ]
    },
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "key": "7a2d81a9-9df6-456f-9c99-2a72459292a8",
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Ch2\u003E\u003Ca rel=\u0022noopener\u0022 href=\u0022https://www.youtube.com/@jondjones\u0022 target=\u0022_blank\u0022\u003Ejondjones YouTube Channel\u003C/a\u003E\u003C/h2\u003E\n\u003Cp\u003EJon creates a new YouTube tutorial video every week, with a detailed blog post to follow along with too. He usually creates videos about Umbraco and other Content Management Systems.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "f43c8349-0801-44b8-9113-9f7c62cd44fe",
      "key": "192a6c7f-4b93-4571-803b-16db796e5c33",
      "values": [
        {
          "alias": "videoUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.youtube.com/watch?v=arki6eMudG8"
        },
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Build a NextJs headless website with Umbraco and Content Delivery API"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "key": "f3aa62d8-1bd7-4278-8579-047706724049",
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "paddingTop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "paddingBottom",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "paddingLeft",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "paddingRight",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "marginTop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "marginBottom",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "marginLeft",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "marginRight",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "key": "aace85dd-9b58-43dd-b79f-2f0897db1277",
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "eef34ceb-ddf6-4894-b1ac-f96c8c05d3d2",
      "key": "a56d7b54-04f3-493f-882c-66c28712b3a4",
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "key": "15377292-a7d2-4bc4-bc56-0dd3a59ca2b1",
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "eef34ceb-ddf6-4894-b1ac-f96c8c05d3d2",
      "key": "b0f2759d-661b-424c-8b9e-46795c500478",
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "key": "9a5129d4-2046-44aa-a37d-37361ffc9540",
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "eef34ceb-ddf6-4894-b1ac-f96c8c05d3d2",
      "key": "b9367f44-c258-449f-b2fe-cd7eddea4f19",
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "ba1a4792-81c9-4bd0-b652-d226c7551532",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "8b4af4c3-1636-4111-bc8c-3f71e1dee4ae",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "8f3328aa-d960-45a3-ad14-880e3f3d0305",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "5da04a93-caec-4ed8-b087-0bdc31860bed",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "5e64e454-31ac-4662-afc2-b078b397b2d8",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7a2d81a9-9df6-456f-9c99-2a72459292a8",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "192a6c7f-4b93-4571-803b-16db796e5c33",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "ba1a4792-81c9-4bd0-b652-d226c7551532",
        "settingsKey": "f3aa62d8-1bd7-4278-8579-047706724049"
      },
      {
        "contentKey": "8b4af4c3-1636-4111-bc8c-3f71e1dee4ae",
        "settingsKey": "aace85dd-9b58-43dd-b79f-2f0897db1277"
      },
      {
        "contentKey": "8f3328aa-d960-45a3-ad14-880e3f3d0305",
        "settingsKey": "a56d7b54-04f3-493f-882c-66c28712b3a4"
      },
      {
        "contentKey": "5da04a93-caec-4ed8-b087-0bdc31860bed",
        "settingsKey": "15377292-a7d2-4bc4-bc56-0dd3a59ca2b1"
      },
      {
        "contentKey": "5e64e454-31ac-4662-afc2-b078b397b2d8",
        "settingsKey": "b0f2759d-661b-424c-8b9e-46795c500478"
      },
      {
        "contentKey": "7a2d81a9-9df6-456f-9c99-2a72459292a8",
        "settingsKey": "9a5129d4-2046-44aa-a37d-37361ffc9540"
      },
      {
        "contentKey": "192a6c7f-4b93-4571-803b-16db796e5c33",
        "settingsKey": "b9367f44-c258-449f-b2fe-cd7eddea4f19"
      }
    ]
  }
}]]></Value>
    </contentRows>
    <hideFromTopNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "d6644f2c-a16d-4550-99ce-48d199d7f475",
    "mediaKey": "c75e975e-5a1b-4366-9dc0-c5d3ea289d8f"
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <subtitle>
      <Value><![CDATA[For learning Umbraco]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>