<?xml version="1.0" encoding="utf-8"?>
<Content Key="fb6ba757-b9b9-4c9c-ade2-1efe9f03e928" Alias="Home-4a038986-adf1-48c5-aba0-c10c13c1b4d1" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home4a038986Adf148c5Aba0C10c13c1b4d1</Path>
    <Trashed>false</Trashed>
    <ContentType>site</ContentType>
    <CreateDate>2024-05-07T22:12:28</CreateDate>
    <NodeName Default="Home-4a038986-adf1-48c5-aba0-c10c13c1b4d1" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>