<?xml version="1.0" encoding="utf-8"?>
<Content Key="cb9726b8-2307-4a01-9b39-7c2850c4d19a" Alias="No domain site" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/NoDomainSite</Path>
    <Trashed>false</Trashed>
    <ContentType>site</ContentType>
    <CreateDate>2023-03-24T17:03:11</CreateDate>
    <NodeName Default="No domain site" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>