<?xml version="1.0" encoding="utf-8"?>
<Content Key="244dbd30-29fa-45de-ab85-99d84306e7c9" Alias="site with culture 2" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/siteWithCulture2</Path>
    <Trashed>false</Trashed>
    <ContentType>siteWithCulture</ContentType>
    <CreateDate>2024-12-30T13:38:57</CreateDate>
    <NodeName Default="site with culture 2">
      <Name Culture="da">site with culture 2 (DA)</Name>
      <Name Culture="en-US">site with culture 2</Name>
    </NodeName>
    <SortOrder>7</SortOrder>
    <Published Default="true">
      <Published Culture="da">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <textstring>
      <Value><![CDATA[]]></Value>
    </textstring>
    <textstringCulture>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </textstringCulture>
  </Properties>
</Content>