<?xml version="1.0" encoding="utf-8"?>
<DataType Key="922f13b4-dcbb-4c9e-8a3f-9f3a23dc6e33" Alias="Member Group Picker" Level="1">
  <Info>
    <Name>Member Group Picker</Name>
    <EditorAlias>Umbraco.MemberGroupPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>