<?xml version="1.0" encoding="utf-8"?>
<Media Key="25ba1577-a0c5-4329-8f32-9e9abe4a6d2d" Alias="Skærmbillede 2023 04 17 Kl. 20.15.27" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Skaermbillede20230417Kl201527</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-17T20:15:30</CreateDate>
    <NodeName Default="Skærmbillede 2023 04 17 Kl. 20.15.27" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/oeklujof/skaermbillede-2023-04-17-kl-201527.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>