<?xml version="1.0" encoding="utf-8"?>
<Media Key="35e4bdda-dfa8-4803-b5e9-29704362f18c" Alias="Skærmbillede 2021 08 05 150131" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Skaermbillede20210805150131</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-09-15T14:28:41</CreateDate>
    <NodeName Default="Skærmbillede 2021 08 05 150131" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/1s4pinni/skaermbillede-2021-08-05-150131.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>