<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3ddcaddc-bb45-4c9b-a3ab-201f847a3d04" Alias="Email address" Level="1">
  <Info>
    <Name>Email address</Name>
    <EditorAlias>Umbraco.EmailAddress</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IsRequired": false
}]]></Config>
</DataType>