<?xml version="1.0" encoding="utf-8"?>
<DataType Key="21befea5-5343-447f-a907-f633f4e7ac59" Alias="User Picker" Level="1">
  <Info>
    <Name>User Picker</Name>
    <EditorAlias>Umbraco.UserPicker</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>