<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b148139f-d728-442f-8c42-8ab185b9b80d" Alias="Eye Dropper Color Picker" Level="1">
  <Info>
    <Name>Eye Dropper Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker.EyeDropper</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.EyeDropper</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "showAlpha": false,
  "showPalette": false
}]]></Config>
</DataType>