<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5dc2c6f7-5bb9-41e8-9ccd-38e94f9dd683" Alias="Multinode Treepicker" Level="1">
  <Info>
    <Name>Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "ignoreUserStartNodes": false,
  "maxNumber": 0,
  "minNumber": 0,
  "showOpenButton": false,
  "startNode": {
    "type": "content",
    "id": null,
    "dynamicRoot": null
  },
  "umbMigrationV14": "2024-11-20T18:38:56.8289337\u002B00:00"
}]]></Config>
</DataType>