<?xml version="1.0" encoding="utf-8"?>
<MediaType Key="a5ddeee0-8fd8-4cee-a658-6f1fcdb00de3" Alias="umbracoMediaAudio" Level="1">
  <Info>
    <Name>Audio</Name>
    <Icon>icon-audio-lines</Icon>
    <Thumbnail>icon-audio-lines</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
  </Info>
  <GenericProperties>
    <GenericProperty>
      <Key>3cbf538a-29ab-4317-a9eb-bbcdf1a54260</Key>
      <Name>File size</Name>
      <Alias>umbracoBytes</Alias>
      <Definition>ba5bdbe6-ab3e-46a8-82b3-2c45f10bc47f</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="audio">Audio</Tab>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1bee433f-a21a-4031-8e03-af01bb8d2de9</Key>
      <Name>File extension</Name>
      <Alias>umbracoExtension</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="audio">Audio</Tab>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1f48d730-f174-4684-afad-a335e59d84a0</Key>
      <Name>Audio</Name>
      <Alias>umbracoFile</Alias>
      <Definition>8f430dd6-4e96-447e-9dc0-cb552c8cd1f3</Definition>
      <Type>Umbraco.UploadField</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="audio">Audio</Tab>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Structure />
  <Tabs>
    <Tab>
      <Key>335fb495-0a87-4e82-b902-30eb367b767c</Key>
      <Caption>Audio</Caption>
      <Alias>audio</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</MediaType>